<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments/head :: title('Upload Execution')"></head>
	<body>
		<div th:replace="fragments/navbar :: default('home')"></div>
	
		<div class="page-header">
			<div class="container">
				<div class="row">
					<div class="col-12 path">
						<h6 class="title">
							<a th:href="@{/upload/instance}">Upload</a>
							<span class="path-divider">/</span>
							<a th:href="@{#}">Instance</a>
						</h6>
					</div>
				</div>
			</div>
		</div>
	
		<div class="container">
			 <form method="POST" th:action="@{/upload/instance}" th:object="${uploadInstanceDTO}" enctype="multipart/form-data">
			      <div class="form-group">
                      <label for="problemId" th:text="#{nav.problem}" ></label> 
                      <select class="form-control"  th:field="*{problemId}" th:validation="problemId">
                          <option th:each="problem : ${problems}" 
                              th:value="${problem.key}"
                              th:text="${problem.value.name}" 
                          />
                      </select>
                     <span class="text-danger" th:if="${#fields.hasErrors('problemId')}" th:errors="*{problemId}"></span>
                  </div>
			      <p th:text="#{nav.select-a-file-to-upload}"></p>
		          <div class="custom-file">
                      <label for="file" class="custom-file-label" th:text="#{nav.nofilechosen}"></label> 
                      <input id="file" type="file" name="file" class="form-control-file custom-file-input" /> 
                      <span class="text-danger" th:if="${#fields.hasErrors('file')}" th:errors="*{file}"></span>
                  </div>
                  <br/>
                  <hr/>
                  <button type="submit" class="btn btn-success" th:text="#{btn.upload}"></button>
				  <a th:href="@{/problems}" class="btn btn-light" th:text="#{btn.cancel}"></a>
			</form>
			<br/>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>