<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/head :: title(#{nav.optimize})"></head>

	<body>

		<div th:replace="fragments/navbar :: default('home')"></div>
		
		<div class="page-header page-header-with-navbar">
			<div class="container">
				<div class="row">
					<div class="col-12 path">
						<h6 class="title">
							<a th:href="@{/}" th:text="#{nav.home}"></a> 
							<span class="path-divider">/</span>
							<a th:href="@{/optimize/} + ${problem.id} + @{/} + ${instance}" th:text="#{btn.optimize}"></a>
						</h6>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container page-navbar">
			<div class="row">
				<div class="col-12">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link nav-general" role="tab" data-toggle="tab" href="#general" th:text="#{nav.general}"></a>
							<a class="nav-item nav-link nav-operators" role="tab" data-toggle="tab" href="#operators" th:text="#{nav.operators}"></a>
							<a class="nav-item nav-link nav-objectives" role="tab" data-toggle="tab" href="#objectives" th:text="#{nav.objectives}"></a>
							<a class="nav-item nav-link nav-preferences" role="tab" data-toggle="tab" href="#preferences" th:text="#{nav.preferences}"></a>
						</div>
					</nav>
					<form  method="POST" th:action="@{/optimize/save}" th:object="${parametersDTO}">
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade" id="general">
							
							     <div class="row">
                                    <div class="col-6">
									    <div class="form-group">
		                                    <label for="problemId" th:text="#{execution.problem}"></label>
		                                    <input type="text" class="form-control" th:field="*{problemId}" th:validation="problemId"  />
		                                    <span class="text-danger" th:if="${#fields.hasErrors('problemId')}" th:errors="*{problemId}"></span>
		                                </div>
		                            </div>
		                            <div class="col-6">
		                                <div class="form-group">
		                                    <label for="instance" th:text="#{execution.instance}"></label>
		                                    <input type="text" class="form-control" th:field="*{instance}" th:validation="instance"  />
		                                    <span class="text-danger" th:if="${#fields.hasErrors('instance')}" th:errors="*{instance}"></span>
		                                </div>
		                             </div>
		                          </div>
								<div class="form-group">
									<label for="algorithmId" th:text="#{execution.algorithm}"></label>
									<select class="form-control optimize-algorithm" th:field="*{algorithmId}" th:validation="algorithmId">
										<option th:each="algorithm : ${algorithms}" 
								    		th:value="${algorithm.key}"
								    		th:text="${algorithm.value.name}" 
							    		/>
									</select>
									<span class="text-danger" th:if="${#fields.hasErrors('algorithmId')}" th:errors="*{algorithmId}"></span>
								</div>
								<div class="form-group">
									<label for="populationSize" th:text="#{execution.population-size}"></label>
									<input type="number" class="form-control" th:field="*{populationSize}" th:validation="populationSize"  />
									<span class="text-danger" th:if="${#fields.hasErrors('populationSize')}" th:errors="*{populationSize}"></span>
								</div>
								<div class="form-group">
									<label for="maxEvaluations" th:text="#{execution.max-evaluations}"></label>
									<input type="number" class="form-control" th:field="*{maxEvaluations}" th:validation="maxEvaluations" />
									<span class="text-danger" th:if="${#fields.hasErrors('maxEvaluations')}" th:errors="*{maxEvaluations}"></span>
								</div>
								<div class="form-group">
                                    <label for="numberOfRuns">Number of Runs</label>
                                    <input type="number" class="form-control" th:field="*{numberOfRuns}" />
                                    <span class="text-danger" th:if="${#fields.hasErrors('numberOfRuns')}" th:errors="*{numberOfRuns}"></span>
                                </div>
							</div>
							
							
							<div class="tab-pane fade" id="operators">
								<div class="row">
									<div class="form-group col-12">
										<label for="selectionId" th:text="#{execution.selection}"></label>
										<select class="form-control" th:field="*{selectionId}" th:validation="selectionId">
											<option th:each="selection : ${selections}" 
												th:if="${selection.value.supports(problem)}"
									    		th:value="${selection.key}"
									    		th:text="${selection.value.name}" 
								    		/>
										</select>
										<span class="text-danger" th:if="${#fields.hasErrors('selectionId')}" th:errors="*{selectionId}"></span>
									</div>
								</div>
								<hr/>
								<div class="row">
									<div class="form-group col-4">
										<label for="crossoverId" th:text="#{execution.crossover}"></label>
										<select class="form-control" th:field="*{crossoverId}" th:validation="crossoverId">
											<option th:each="crossover : ${crossovers}"  
												th:if="${crossover.value.supports(problem)}"
									    		th:value="${crossover.key}"
									    		th:text="${crossover.value.name}" 
								    		/>
										</select>
										<span class="text-danger" th:if="${#fields.hasErrors('crossoverId')}" th:errors="*{crossoverId}"></span>
									</div>
									<div class="form-group col-4">
										<label for="crossoverProbability" th:text="#{execution.crossover-probability}"></label>
										<input type="number" class="form-control" th:field="*{crossoverProbability}" th:validation="crossoverProbability"/>
										<span class="text-danger" th:if="${#fields.hasErrors('crossoverProbability')}" th:errors="*{crossoverProbability}"></span>
									</div>
									<div class="form-group col-4">
										<label for="crossoverDistribution" th:text="#{execution.crossover-distribution}"></label>
										<input type="number" class="form-control" th:field="*{crossoverDistribution}" th:validation="crossoverDistribution"/>
										<span class="text-danger" th:if="${#fields.hasErrors('crossoverDistribution')}" th:errors="*{crossoverDistribution}"></span>
									</div>
								</div>
								<hr/>
								<div class="row">
									<div class="form-group col-4">
										<label for="mutationId" th:text="#{execution.mutation}"></label>
										<select class="form-control" th:field="*{mutationId}" th:validation="mutationId">
											<option th:each="mutation : ${mutations}"
												th:if="${mutation.value.supports(problem)}" 
									    		th:value="${mutation.key}"
									    		th:text="${mutation.value.name}" 
								    		/>
								  		</select>
								  		<span class="text-danger" th:if="${#fields.hasErrors('mutationId')}" th:errors="*{mutationId}"></span>
									</div>
									<div class="form-group col-4">
										<label for="mutationProbability" th:text="#{execution.mutation-probability}"></label>
										<input type="number" class="form-control" th:field="*{mutationProbability}" th:validation="mutationProbability"/>
										<span class="text-danger" th:if="${#fields.hasErrors('mutationProbability')}" th:errors="*{mutationProbability}"></span>
									</div>
									<div class="form-group col-4">
										<label for="mutationDistribution" th:text="#{execution.mutation-distribution}"></label>
										<input type="number" class="form-control" th:field="*{mutationDistribution}" th:validation="mutationDistribution"/>
										<span class="text-danger" th:if="${#fields.hasErrors('mutationDistribution')}" th:errors="*{mutationDistribution}"></span>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="objectives">
							
							
							<div class="row">
								<div th:class="'col-'+12/${problem.objectiveGroups.size()}" th:each="objectiveGroup : ${problem.objectiveGroups}">
									<div class="card">
										  <div class="card-header" th:text="${objectiveGroup.key}"></div>
										  <ul class="list-group list-group-flush">
										    <li class="list-group-item" th:each="objective,i : ${objectiveGroup.value}">
											    <div class="form-check checkbox-all-selected">
											        <input type="checkbox" 
											            class="form-check-input"
			                                            th:field="*{objectiveIds}"
			                                            th:value="${objective}"
			                                        />
			                                        <label class="form-check-label" th:for="${#ids.prev('objectiveIds')}" th:text="${objective.name}"> </label>
											    </div>
										    </li>
										  </ul>
										  <span class="text-danger" th:if="${#fields.hasErrors('objectiveIds')}" th:errors="*{objectiveIds}"></span>
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="preferences">
								 <div class="form-group" id="reference-points">
								    <label for="referencePoints" th:text="#{execution.reference-points}"></label>
								    <div class="input-group mb-2"  th:each="rp, i: *{referencePoints}">
								        <input type="text" class="form-control" id="referencePoints" readonly th:name="|referencePoints[__${i.index}__]|" th:value="${#strings.arrayJoin(rp, ',')}">
									  <div class="input-group-append">
									    <button type="button" class="btn btn-secondary btn-remove-reference-point" ><i class="fa fa-trash"></i></button>
									  </div>
									</div>
									
									 <span class="text-danger" th:if="${#fields.hasErrors('referencePoints')}" th:errors="*{referencePoints}"></span>
									
                                 </div>
                                 
                                  <a id="btn-add-reference-point" class="btn btn-secondary btn-sm mb-2" href="#" th:text="#{btn.new}"></a>
                                 
								<div class="form-group">
									<label for="epsilon" th:text="#{execution.epsilon}"></label>
									<input type="number" class="form-control" th:field="*{epsilon}" th:validation="epsilon"/>
									<span class="text-danger" th:if="${#fields.hasErrors('epsilon')}" th:errors="*{epsilon}"></span>
								</div>
							</div>
						</div>
						<hr/>
						<button type="submit" id="btn-execute" class="btn btn-success" th:text="#{btn.execute}"></button>
						<a class="btn btn-light" th:href="@{/instances}" th:text="#{btn.cancel}"></a>
					</form>
					<div class="console"></div>
				</div>
			</div>
		</div>
	
	   <div th:replace="fragments/modal/upload-reference-point"></div>
		<div th:replace="fragments/footer :: footer"></div>
		<script type="text/javascript" th:src="@{/js/controller/optimize.js}"></script>
	</body>

</html>