<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<head th:replace="fragments/head :: title(${#strings.isEmpty(execution.title)} ? ${#formatter.date(execution.creationDate, userSettingsDTO.timeZone)} : ${execution.title})"></head>

	<body>
		
	<div th:replace="fragments/navbar :: default('home')"></div>
	
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-8 path">
						<h6 class="title">
							<a th:href="@{/}" th:text="#{nav.home}"></a> 
							<span class="path-divider">/</span> 
							<a class="format-date" th:href="@{|/execution/${execution.id}|}" th:text="${#strings.isEmpty(execution.title)} ? ${#formatter.date(execution.creationDate, userSettingsDTO.timeZone)} : ${execution.title}"></a> 
						</h6>
					</div>
					<div class="col-4 toolbar" th:if="${not isReadOnly}">
						<a class="btn btn-outline-secondary float-right" th:href="@{/continue/} + ${execution.id}" th:if="${algorithm.reduction}" th:text="#{btn.continue}"></a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#scatter-chart" th:if="${objectives.size() >= 2 and solutions.size() >= 1}" th:text="#{nav.chart}"></a>
							<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#solutions" th:text="#{nav.solutions}"></a>
							<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#correlation" th:text="#{nav.correlation}"></a>
							<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#parameters" th:text="#{nav.parameters}"></a>
							<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#settings" th:text="#{nav.settings}" th:if="${not isReadOnly}"></a>
						</div>
					</nav>
					<div class="tab-content pt-3">
						<div role="tabpanel" class="tab-pane fade" id="scatter-chart" th:if="${objectives.size() >= 2 and solutions.size() >= 1}">
							<div id="execution-chart"></div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="solutions">
							<div class="table-responsive horizontal-scroll">
								<table id="execution-table" class="table table-striped table-hover table-sm table-datatable">
									<thead>
										<tr>
											<th width="20px">#</th>
											<th th:each="obj,i : ${objectives}" th:text="${obj.name}" class="objectives-names"></th>	
											<th>Selected</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="solution : ${solutions}" th:with="i = ${solution.getAttributes().get('id')}">
											<td><a th:href="@{/solution/}+${execution.getId()}+@{/}+${i}+@{/0}" th:text="${i}"></a></td>
											<td th:each="value, j : ${solution.getObjectives()}"  class="objectives-values">
											
											     <a th:href="@{|/solution/${execution.getId()}/${i}/${j.index}|}" number:real="${value}"></a>
											
											</td>
											<td>
											     <span th:if="${#lists.contains(selectedIndexes, i)}" class="text-success">True</span>
											     <span th:unless="${#lists.contains(selectedIndexes, i)}" class="text-danger">False</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="correlation" >
							<div class="table-responsive horizontal-scroll">
								<table class="table table-striped table-hover table-sm table-datatable">
									<thead>
										<tr>
											<th width="50px">#</th>
											<th th:text="#{nav.objective}"></th>
											<th th:each="obj : ${objectives}" th:text="${obj.getName()}"/>
										</tr>
									</thead>
									<tbody>
										<tr th:each="c,i : ${correlations}">
											<td th:text="${i.count}"></td>
											<td th:text="${c.getName()}"></td>
											<td th:each="v : ${c.getValues()}" 
												number:real="${v}"
												th:classappend="${v == 0 ? 'text-secondary' : (v < 0 ? 'text-danger' : 'text-success')}"
											/>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="parameters">
						  
						      <table class="table table-striped table-hover table-sm table-datatable">
                                    <thead>
                                        <tr>
                                            <th th:text="#{nav.parameter}"></th>
                                            <th th:text="#{nav.value}" width="80%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td>Id</td><td th:text="${execution.id}"></td></tr>
                                        <tr><td th:text="#{execution.creation-date}"></td><td class="format-date" th:text="${#formatter.date(execution.creationDate, userSettingsDTO.timeZone)}"></td></tr>
                                        <tr><td th:text="#{execution.n-of-solutions}"></td><td th:text="${solutions.size()}"></td></tr>
                                        <tr><td th:text="#{execution.execution-time}"></td><td th:text="${#formatter.interval(execution.getExecutionTime())}"></td></tr>
                                        
                                        <tr><td th:text="#{execution.problem}"></td><td th:text="${execution.problemId}"></td></tr>
                                        <tr><td th:text="#{execution.instance}"></td><td th:text="${execution.instance}"></td></tr>
                                        <tr><td th:text="#{execution.population-size}"></td><td th:text="${execution.populationSize}"></td></tr>
                                        <tr><td th:text="#{execution.max-evaluations}"></td><td th:text="${execution.maxEvaluations}"></td></tr>
                                        <tr><td th:text="#{execution.algorithm}"></td><td th:text="${execution.algorithmId}"></td></tr>
                                        <tr><td th:text="#{execution.objectives}"></td><td th:text="${execution.objectiveIds}"></td></tr>
                                        <tr><td th:text="#{execution.selection}"></td><td th:text="${execution.selectionId}"></td></tr>
                                        <tr><td th:text="#{execution.crossover}"></td><td th:text="${execution.crossoverId}"></td></tr>
                                        <tr><td th:text="#{execution.crossover-probability}"></td><td th:text="${execution.crossoverProbability}"></td></tr>
                                        <tr><td th:text="#{execution.crossover-distribution}"></td><td th:text="${execution.crossoverDistribution}"></td></tr>
                                        <tr><td th:text="#{execution.mutation}"></td><td th:text="${execution.mutationId}"></td></tr>
                                        <tr><td th:text="#{execution.mutation-probability}"></td><td th:text="${execution.mutationProbability}"></td></tr>
                                        <tr><td th:text="#{execution.mutation-distribution}"></td><td th:text="${execution.mutationDistribution}"></td></tr>
                                        <tr><td th:text="#{execution.epsilon}"></td><td th:text="${execution.epsilon}"></td></tr>
                                        <tr><td th:text="#{execution.reference-points}"></td><td th:text="${execution.referencePoints}"></td></tr>
                                    </tbody>
                                </table>	
						</div>
						<div role="tabpanel" class="tab-pane fade" id="settings" th:if="${not isReadOnly}">
						  
                            <form th:action="@{|/executions/${executionId}/settings/save|}" method="POST" th:object="${executionSettingsDTO}">
                                <h5 th:text="#{nav.general}">General</h5>
                                <hr/>
                                <div class="form-group">
                                    <label for="title" th:text="#{execution.title}"></label> 
                                    <input type="text" class="form-control" th:field="*{title}" autofocus />
                                    <small class="form-text text-muted" th:text="#{help.execution.title}"></small>
                                    <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                                </div>
                                <h5 class="pt-4" th:text="#{nav.chart}">Chart</h5>
                                <hr/>
                                <div class="form-group">
                                     <label for="color" th:text="#{execution.color}"></label>
                                     <select class="form-control" th:field="*{color}">
                                          <option style='color: green;' th:each="color : ${colors}" 
                                             th:value="${color.hex}"
                                             th:text="#{'color.'+${color.name().toLowerCase()}}" 
                                         /> 
                                     </select>
                                     <small class="form-text text-muted" th:text="#{help.execution.color}"></small>
                                     <span class="text-danger" th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></span>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" th:field="*{showLines}"/>
                                    <label class="form-check-label" for="showLines1" th:text="#{execution.show-lines}"></label>
                                    <small class="form-text text-muted" th:text="#{help.execution.show-lines}"></small>
                                </div>
                                <h5 class="pt-4" th:text="#{nav.pareto-front}">Pareto-front</h5>
                                <hr/>
                                <div class="form-group">
                                   <label for="removerId" th:text="#{execution.remove}"></label>
                                   <select class="form-control" th:field="*{removerId}">
                                       <option th:each="remover : ${removers}" 
                                           th:value="${remover.key}"
                                           th:text="${remover.value.name}" 
                                       />
                                   </select>
                                   <small class="form-text text-muted" th:text="#{help.execution.remove}"></small>
                                   <span class="text-danger" th:if="${#fields.hasErrors('removerId')}" th:errors="*{removerId}"></span>
                                </div>
                                <div class="form-group">
                                       <label for="normalizeId" th:text="#{execution.normalize}"></label>
                                       <select class="form-control" th:field="*{normalizeId}">
                                         <option th:each="normalize : ${normalizers}" 
                                               th:value="${normalize.key}"
                                               th:text="${normalize.value.name}" 
                                           />
                                       </select>
                                       <small class="form-text text-muted" th:text="#{help.execution.normalize}"></small>
                                       <span class="text-danger" th:if="${#fields.hasErrors('normalizeId')}" th:errors="*{normalizeId}"></span>
                                </div>
                                <div class="form-group">
                                       <label for="correlationId" th:text="#{execution.correlation}"></label>
                                       <select class="form-control" th:field="*{correlationId}">
                                           <option th:each="correlationer : ${correlationers}" 
                                               th:value="${correlationer.key}"
                                               th:text="${correlationer.value.name}" 
                                           />
                                       </select>
                                       <small class="form-text text-muted" th:text="#{help.execution.correlation}"></small>
                                       <span class="text-danger" th:if="${#fields.hasErrors('correlationId')}" th:errors="*{correlationId}"></span>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" th:field="*{showOriginalObjectiveValues}"/>
                                    <label class="form-check-label" for="showOriginalObjectiveValues1" th:text="#{execution.show-original-objective-values}"></label>
                                    <small class="form-text text-muted" th:text="#{help.execution.show-original-objective-values}"></small>
                                </div>
                                <h5 class="pt-4" th:text="#{nav.miscellaneous}"></h5>
                                <hr/>
                                <div class="card">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-9">
                                                    <label class="mb-0">Clear User Preferences</label>
                                                    <small class="form-text text-muted mt-0 pt-0">Clear all user feedback to provide the preferences again</small>
                                                </div>
                                                <div class="col-3 text-right mt-1">
                                                    <button data:confirm="#{confirm.clear-remove-preferences}" data-target="#form-clear-feedback" class="btn btn-outline-danger">Clear</button>                                
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-9">
                                                    <label class="mb-0">Unselect All</label>
                                                    <small class="form-text text-muted mt-0 pt-0">Unselect all solutions</small>
                                                </div>
                                                <div class="col-3 text-right mt-1">
                                                    <button data:confirm="#{confirm.clear-remove-preferences}" data-target="#form-unselect-all" class="btn btn-outline-danger">Unselect All</button>                                
                                                </div>
                                            </div>
                                        </li>                       
                                    </ul>
                                </div>
                                <hr/>
                                <button type="submit" class="btn btn-outline-success mb-3" th:text="#{btn.save}"></button> 
				            </form>	
                            <form id="form-clear-feedback" method="POST" th:action="@{|/executions/${execution.id}/clear-user-feedback|}"></form>			                        
                            <form id="form-unselect-all" method="POST" th:action="@{|/executions/${execution.id}/unselect-all|}"></form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="d-none" id="userSettingsDTO" th:text="${userSettingsDTO}"></div> 
		<div class="d-none" id="executionSettingsDTO" th:text="${executionSettingsDTO}"></div>    
	
		<div th:replace="fragments/footer :: footer"></div>
		<script type="text/javascript" th:src="@{/js/controller/execution.js}"></script>
	</body>

</html>