<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head th:replace="fragments/head :: title(#{nav.roles})"></head>
	<body>
		<div th:replace="fragments/navbar :: default('admin')"></div>
		<br/>
		<div class="container">
			<div class="row">
				<div class="col-3">
					<div th:replace="fragments/panel/admin :: default('roles')"></div>
				</div>
				<div class="col-9">
					<h5 th:text="#{nav.roles}"></h5>
					<hr/>
					<div class="tab-pane-toolbar">
						<a th:href="@{/role/add}" class="btn btn-outline-success" th:text="#{btn.new-role}"></a>
					</div>
					<table id="roles-table" class="table table-striped table-hover table-sm table-datatable">
						<thead>
							<tr>
								<th width="50px">#</th>
								<th th:text="#{role.name}"></th>
								<th width="10px"></th>		
							</tr>
						</thead>
						<tbody>
							<tr th:each="role,i : ${rolesDTOs}">
								<td th:text="${i.count}"></td>
								<td th:text="${role.getName()}"></td>
								<td>
									<div class="dropdown float-right">
									  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" ></button>
									  <div class="dropdown-menu dropdown-menu-right" >
									  	<a class="dropdown-item" th:href="@{/role/edit/}+${role.getId()}" th:text="#{btn.edit}"></a>
									  	<div class="dropdown-divider"></div>
									  	<form method="POST" th:action="@{/role/delete/}+${role.getId()}" >
									    	<a class="dropdown-item text-danger dropdown-submit" href="#" data:confirm="#{confirm.delete-role}"><i class="fa fa-trash" th:text="' '+#{btn.remove}"></i></a>
									    </form>
									  </div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>