<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head th:replace="fragments/head :: default(Continue)"></head>

	<body th:with="
		descriptor = ${plugin.getDescriptor()},
		pluginId = ${descriptor.getPluginId()},
		pluginName = ${descriptor.getPluginDescription()},
		executionName = ${execution.getSettings().getName()}">
		
		<div th:replace="fragments/navbar :: default('home')"></div>
		
		<div class="page-header page-header-with-navbar">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h6 class="title">
							<a th:href="@{/}">Home</a> 
							<span class="path-divider">/</span>
							<a th:href="@{/plugin/} + ${pluginId}" th:text="${pluginName}"></a>
							<span class="path-divider">/</span> 
							<a th:href="@{/execution/}+${execution.getId()}" th:text="${#strings.isEmpty(executionName)} ? ${execution.getId()} : ${executionName}"></a>
							<span class="path-divider">/</span> 
							<a th:href="@{/continue/}+${executionId}">Continue</a> 
						</h6>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container page-navbar">
			<div class="row">
				<div class="col-12">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#selected">Selected Objectives</a>
							<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#ranking">Ranking</a>
						</div>
					</nav>
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade" id="selected">
							<table class="table table-striped table-hover table-sm table-datatable">
								<thead>
									<tr>
										<th width="50px">#</th>
										<th>Objective</th>
										<th>Value</th>						
									</tr>
								</thead>
								<tbody>
									<tr th:each="item,i : ${rankings}" th:if="${item.selected}">
										<td th:text="${i.count}"></td>
									    <td th:text="${item.objectiveId}"></td>
									    <td th:text="${item.value}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="ranking">
							<table id="execution-table" class="table table-striped table-hover table-sm table-datatable">
								<thead>
									<tr>
										<th width="50px">#</th>
										<th>Objective</th>
										<th>Value</th>						
									</tr>
								</thead>
								<tbody>
									<tr th:each="item,i : ${rankings}">
										<td th:text="${i.count}"></td>
									    <td th:text="${item.objectiveId}"></td>
									    <td th:text="${item.value}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				
					<div class="d-none" id="next-parameters" th:text="${execution.getParameters()}"></div>	
					<hr/>
					<a class="btn btn-success" href="" id="btn-continue" >Continue</a>
					<a class="btn btn-outline-secondary" th:href="@{/execution/} + ${executionId}">Back</a>
				</div>
			</div>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>
		<div th:replace="fragments/modal :: progressbar"></div>
		<div th:replace="fragments/modal :: console"></div>
		<script type="text/javascript" th:src="@{/js/controller/optimize.js}"></script>
	</body>

</html>