<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head th:replace="fragments/head :: title(#{nav.continue})"></head>

	<body>
		
		<div th:replace="fragments/navbar :: default('')"></div>
		
		<div class="page-header page-header-with-navbar">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h6 class="title">
							<a th:href="@{/}" th:text="#{nav.home}"></a> 
							<span class="path-divider">/</span>
							<a th:href="@{/continue/}+${executionId}" th:text="#{nav.continue}"></a> 
						</h6>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container page-navbar">
			<div class="row">
				<div class="col-12">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#selected">Selected Objectives</a>
							<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#ranking">Ranking</a>
						</div>
					</nav>
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade" id="selected">
							<table class="table table-striped table-hover table-sm ">
								<thead>
									<tr>
										<th width="20px">#</th>
										<th th:text="#{nav.objective}"></th>
										<th th:text="#{nav.value}"></th>						
									</tr>
								</thead>
								<tbody>
									<tr th:each="item,i : ${rankings}" th:if="${item.selected}">
										<td th:text="${i.count}"></td>
									    <td th:text="${item.objectiveId}"></td>
									    <td th:text="${item.value}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="ranking">
							<table id="execution-table" class="table table-striped table-hover table-sm">
								<thead>
									<tr>
										<th width="20px">#</th>
										<th th:text="#{nav.objective}"></th>
                                        <th th:text="#{nav.value}"></th>					
									</tr>
								</thead>
								<tbody>
									<tr th:each="item,i : ${rankings}">
										<td th:text="${i.count}"></td>
									    <td th:text="${item.objectiveId}"></td>
									    <td th:text="${item.value}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				
					<hr/>
					<form method="POST" th:action="@{/optimize/continue}" th:object="${continueDTO}">
					   <input type="hidden" th:field="*{previousExecutionId}">
					   <div th:each="nextObjective, i : *{nextObjectiveIds}">
		                    <div><input type="hidden" th:field="*{nextObjectiveIds[__${i.index}__]}" /></div>
		                </div>
					   <button type="submit" class="btn btn-success" th:text="#{btn.continue}"></button>
					   <a class="btn btn-outline-secondary" th:href="@{|/execution/${executionId}|}" th:text="#{btn.cancel}"></a>
					</form>
					
				</div>
			</div>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>
		<script type="text/javascript" th:src="@{/js/controller/optimize.js}"></script>
	</body>

</html>