<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head th:replace="fragments/head :: default(${'Done'})"></head>

	<body th:with="
		descriptor = ${plugin.getDescriptor()},
		pluginId = ${descriptor.getPluginId()},
		pluginName = ${descriptor.getPluginDescription()},
		executionName = ${execution.getSettings().getName()}">
	
	<div th:replace="fragments/navbar :: default('Home')"></div>
	
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h6 class="title">
						<a th:href="@{/}">Home</a> 
						<span class="path-divider">/</span>
						<a th:href="@{/plugin/} + ${pluginId}" th:text="${pluginName}"></a>
						<span class="path-divider">/</span> 
						<a th:href="@{/execution/}+${execution.getId()}" th:text="${#strings.isEmpty(executionName)} ? ${execution.getId()} : ${executionName}"></a>
						<span class="path-divider">/</span>
						<a th:href="@{#}">Done</a> 
					</h6>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-12">
				<table id="instances-table" class="table table-striped table-hover table-sm table-datatable">
					<thead>
						<tr>
							<th width="50px">#</th>
							<th>Indicator</th>
							<th width="150px">Value</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="row, i : ${rows}">
							<td th:text="${i.index}"></td>
							<td th:text="${row.getName()}"></td>
							<td th:each="value : ${row.getValues()}" th:text="${#numbers.formatDecimal(value, 1, 5)}"></td>
						</tr>
					</tbody>
				</table>
				<br/>
				<p>Warnings</p>
				<p><i><small>The IGD is not sensitive to the size of the approximation fronts and it provides a ranking that intuitively matches more closely the desirable convergence, spread and distri- bution. Since it is also computationally fast to compute, IGD soon became the most widely used metric to assess many-objective EMO algorithms. Nonetheless, the IGD has been shown recently to lack Pareto-compliance [9]</small></i></p>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>