<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head th:replace="fragments/head :: title(#{btn.done})"></head>

	<body>
	
	<div th:replace="fragments/navbar :: default('Home')"></div>
	
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-12 path">
					<h6 class="title">
                          <a th:href="@{/}" th:text="#{nav.home}"></a> 
                          <span class="path-divider">/</span> 
                          <a th:href="@{/execution/}+${execution.id}" th:text="${#strings.isEmpty(execution.title)} ? ${execution.id} : ${execution.title}"></a>
                          <span class="path-divider">/</span>  
                          <a th:href="@{/done/}+${execution.id}" th:text="#{btn.done}"></a> 
                     </h6>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Thank you!</h1>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>