<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head th:replace="fragments/head :: title(${#strings.isEmpty(execution.title)} ? ${#dates.format(execution.creationDate, 'yyyy-MM-dd HH:mm:ss')} : ${execution.title})"></head>

	<body>
		
	<div th:replace="fragments/navbar :: default('home')"></div>
	
		<div class="page-header page-header-with-navbar">
			<div class="container">
				<div class="row">
					<div class="col-8 path">
						<h6 class="title">
							<a th:href="@{/}" th:text="#{nav.home}"></a> 
							<span class="path-divider">/</span> 
							<a th:href="@{|/execution/${execution.id}|}" th:text="${#strings.isEmpty(execution.title)} ? ${#dates.format(execution.creationDate, 'yyyy-MM-dd HH:mm:ss')} : ${execution.title}"></a> 
						</h6>
					</div>
					<div class="col-4 toolbar">
						<a class="btn btn-success float-right" th:href="@{/done/} + ${execution.id}" th:text="#{btn.done}"></a>
						<a class="btn btn-outline-secondary float-right" th:href="@{/continue/} + ${execution.id}" th:if="${algorithm.reduction}" th:text="#{btn.continue}"></a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container page-navbar">
			<div class="row">
				<div class="col-12">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#scatter-chart" th:if="${objectives.size() >= 2 and solutions.size() >= 2}" th:text="#{nav.chart}"></a>
							<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#solutions" th:text="#{nav.solutions}"></a>
							<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#correlation" th:text="#{nav.correlation}"></a>
							<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#parameters" th:text="#{nav.parameters}"></a>
							<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#settings" th:text="#{nav.settings}"></a>
						</div>
					</nav>
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade" id="scatter-chart" th:if="${objectives.size() >= 2 and solutions.size() >= 2}">
							<div id="execution-chart"></div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="solutions">
							<div class="table-responsive horizontal-scroll">
								<table id="execution-table" class="table table-striped table-hover table-sm table-datatable">
									<thead>
										<tr>
											<th width="20px">#</th>
											<th th:each="obj,i : ${objectives}" th:text="${obj.name}" class="objectives-names"></th>	
											<th>Selected</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="solution : ${solutions}" th:with="i = ${solution.getAttributes().get('id')}">
											<td><a th:href="@{/solution/}+${execution.getId()}+@{/}+${i}+@{/0}" th:text="${i}"></a></td>
											<td th:each="value : ${solution.getObjectives()}" th:text="${#numbers.formatDecimal(value,1, userDisplayDTO.decimalPlaces, userDisplayDTO.decimalSeparator )}" class="objectives-values"/>
											<td th:text="${solution.getAttributes().containsKey('selected')}"/>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="correlation" >
							<div class="table-responsive horizontal-scroll">
								<table class="table table-striped table-hover table-sm table-datatable">
									<thead>
										<tr>
											<th width="50px">#</th>
											<th th:text="#{nav.objective}"></th>
											<th th:each="obj : ${objectives}" th:text="${obj.getName()}"/>
										</tr>
									</thead>
									<tbody>
										<tr th:each="c,i : ${correlations}">
											<td th:text="${i.count}"></td>
											<td th:text="${c.getName()}"></td>
											<td th:each="v : ${c.getValues()}" 
												th:text="${#numbers.formatDecimal(v,1, userDisplayDTO.decimalPlaces, userDisplayDTO.decimalSeparator)}"
												th:classappend="${v == 0 ? 'text-secondary' : (v < 0 ? 'text-danger' : 'text-success')}"
											/>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="parameters">
						  
						      <table class="table table-striped table-hover table-sm table-datatable">
                                    <thead>
                                        <tr>
                                            <th th:text="#{nav.parameter}"></th>
                                            <th th:text="#{nav.value}" width="80%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td>Id</td><td th:text="${execution.id}"></td></tr>
                                        <tr><td th:text="#{execution.creation-date}"></td><td th:text="${#dates.format(execution.creationDate, 'yyyy-MM-dd HH:mm:ss')}"></td></tr>
                                        <tr><td th:text="#{execution.n-of-solutions}"></td><td th:text="${solutions.size()}"></td></tr>
                                        <tr><td th:text="#{execution.execution-time}"></td><td th:text="${#formatter.interval(execution.getExecutionTime())}"></td></tr>
                                        
                                        <tr><td th:text="#{execution.problem}"></td><td th:text="${execution.problemId}"></td></tr>
                                        <tr><td th:text="#{execution.instance}"></td><td th:text="${execution.instance}"></td></tr>
                                        <tr><td th:text="#{execution.population-size}"></td><td th:text="${execution.populationSize}"></td></tr>
                                        <tr><td th:text="#{execution.max-evaluations}"></td><td th:text="${execution.maxEvaluations}"></td></tr>
                                        <tr><td th:text="#{execution.algorithm}"></td><td th:text="${execution.algorithmId}"></td></tr>
                                        <tr><td th:text="#{execution.objectives}"></td><td th:text="${execution.objectiveIds}"></td></tr>
                                        <tr><td th:text="#{execution.selection}"></td><td th:text="${execution.selectionId}"></td></tr>
                                        <tr><td th:text="#{execution.crossover}"></td><td th:text="${execution.crossoverId}"></td></tr>
                                        <tr><td th:text="#{execution.crossover-probability}"></td><td th:text="${execution.crossoverProbability}"></td></tr>
                                        <tr><td th:text="#{execution.crossover-distribution}"></td><td th:text="${execution.crossoverDistribution}"></td></tr>
                                        <tr><td th:text="#{execution.mutation}"></td><td th:text="${execution.mutationId}"></td></tr>
                                        <tr><td th:text="#{execution.mutation-probability}"></td><td th:text="${execution.mutationProbability}"></td></tr>
                                        <tr><td th:text="#{execution.mutation-distribution}"></td><td th:text="${execution.mutationDistribution}"></td></tr>
                                        <tr><td th:text="#{execution.epsilon}"></td><td th:text="${execution.epsilon}"></td></tr>
                                    </tbody>
                                </table>	
						</div>
						<div role="tabpanel" class="tab-pane fade" id="settings">
						  
						  <form th:action="@{|/execution/${executionId}/settings/save|}" method="POST" th:object="${executionSettingsDTO}">
                                
						      <div class="row">
								    <div class="col-3">
									    <div class="list-group" role="tablist">
									        <a class="list-group-item light-gray" th:text="#{nav.settings}"></a>
		                                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#panel-item-general" role="tab" th:text="#{nav.general}"></a>
									        <a class="list-group-item list-group-item-action" data-toggle="list" href="#panel-item-display" role="tab" th:text="#{nav.chart}"></a>
									        <a class="list-group-item list-group-item-action" data-toggle="list" href="#panel-item-pareto-front" role="tab" th:text="#{nav.pareto-front}"></a>
									        <a class="list-group-item list-group-item-action" data-toggle="list" href="#panel-item-miscellaneous" role="tab" th:text="#{nav.miscellaneous}"></a>
									    </div>
								    </div>
								    <div class="col-9">
										<div class="tab-content mt-0">
											<div class="tab-pane fade show active" id="panel-item-general" role="tabpanel">
											  <h5 th:text="#{nav.general}"></h5>
											  <hr/>
										      <div class="form-group">
		                                          <label for="title" th:text="#{execution.title}"></label> 
		                                          <input type="text" class="form-control" th:field="*{title}" autofocus />
		                                          <small class="form-text text-muted" th:text="#{help.execution.title}"></small>
		                                          <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
		                                      </div>
		                                      <div class="form-group">
		                                           <label for="visibility" th:text="#{execution.visibility}"></label>
		                                           <select class="form-control" th:field="*{visibility}">
			                                           <option th:each="visibility : ${visibilities}" 
		                                                   th:value="${visibility}"
		                                                   th:text="#{'execution.visibility.'+${visibility.toString().toLowerCase()}}" 
			                                           />
		                                           </select>
		                                           <small class="form-text text-muted" th:text="#{help.execution.visibility}"></small>
		                                           <span class="text-danger" th:if="${#fields.hasErrors('visibility')}" th:errors="*{visibility}"></span>
		                                       </div>
		                                       <hr/>
                                               <button type="submit" class="btn btn-outline-success" th:text="#{btn.save}"></button>
											</div>
											<div class="tab-pane fade" id="panel-item-display" role="tabpanel">
											  <h5 th:text="#{nav.chart}"></h5>
		                                      <hr/>
											  <div class="form-group">
                                                   <label for="color" th:text="#{execution.color}"></label>
                                                   <select class="form-control" th:field="*{color}">
                                                        <option style='color: green;' th:each="color : ${colors}" 
	                                                       th:value="${color.hex}"
	                                                       th:text="#{'color.'+${color.name().toLowerCase()}}" 
	                                                   /> 
                                                   </select>
                                                   <small class="form-text text-muted" th:text="#{help.execution.color}"></small>
                                                   <span class="text-danger" th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></span>
                                               </div>
                                               <div class="form-check">
                                                  <input type="checkbox" class="form-check-input" th:field="*{showLines}"/>
                                                  <label class="form-check-label" for="showLines1" th:text="#{execution.show-lines}"></label>
                                                  <small class="form-text text-muted" th:text="#{help.execution.show-lines}"></small>
                                              </div>
		                                      <hr/>
                                              <button type="submit" class="btn btn-outline-success" th:text="#{btn.save}"></button>
											</div>
											<div class="tab-pane fade" id="panel-item-pareto-front" role="tabpanel">
											  <h5 th:text="#{nav.pareto-front}"></h5>
		                                         <hr/>
											   <div class="form-group">
		                                          <label for="removerId" th:text="#{execution.remove}"></label>
		                                          <select class="form-control" th:field="*{removerId}">
		                                              <option th:each="remover : ${removers}" 
		                                                  th:value="${remover.key}"
		                                                  th:text="${remover.value.name}" 
		                                              />
		                                          </select>
		                                          <small class="form-text text-muted" th:text="#{help.execution.remove}"></small>
		                                          <span class="text-danger" th:if="${#fields.hasErrors('removerId')}" th:errors="*{removerId}"></span>
		                                        </div>
		                                        <div class="form-group">
                                                      <label for="normalizeId" th:text="#{execution.normalize}"></label>
                                                      <select class="form-control" th:field="*{normalizeId}">
                                                        <option th:each="normalize : ${normalizers}" 
                                                              th:value="${normalize.key}"
                                                              th:text="${normalize.value.name}" 
                                                          />
                                                      </select>
                                                      <small class="form-text text-muted" th:text="#{help.execution.normalize}"></small>
                                                      <span class="text-danger" th:if="${#fields.hasErrors('normalizeId')}" th:errors="*{normalizeId}"></span>
                                                  </div>
                                                  <div class="form-group">
                                                      <label for="correlationId" th:text="#{execution.correlation}"></label>
                                                      <select class="form-control" th:field="*{correlationId}">
                                                          <option th:each="correlationer : ${correlationers}" 
                                                              th:value="${correlationer.key}"
                                                              th:text="${correlationer.value.name}" 
                                                          />
                                                      </select>
                                                      <small class="form-text text-muted" th:text="#{help.execution.correlation}"></small>
                                                      <span class="text-danger" th:if="${#fields.hasErrors('correlationId')}" th:errors="*{correlationId}"></span>
                                                  </div>
		                                        <hr/>
                                                <button type="submit" class="btn btn-outline-success" th:text="#{btn.save}"></button>
											</div>
											<div class="tab-pane fade" id="panel-item-miscellaneous" role="tabpanel">
											     <h5 th:text="#{nav.miscellaneous}"></h5>
                                                 <hr/>
                                                 <strong th:text="#{execution.remove-preferences}"></strong><br/>
                                                 <p><small class="form-text text-muted" th:text="#{help.execution.remove-preferences}"></small></p>
                                                 <button type="submit" class="btn btn-outline-danger" th:text="#{btn.clear}" form="clear-feedback"></button>
											 </div>
										</div>
								    </div>
								   </div>
							   
				             </form>
				             <form id="clear-feedback" method="POST" th:action="@{|/execution/${execution.id}/clear/user-feedback|}" data:confirm="#{confirm.clear-remove-preferences}"></form>           
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="d-none" id="userDisplayDTO" th:text="${userDisplayDTO}"></div> 
		<div class="d-none" id="executionSettingsDTO" th:text="${executionSettingsDTO}"></div>    
	
		<div th:replace="fragments/footer :: footer"></div>
		<script type="text/javascript" th:src="@{/js/controller/execution.js}"></script>
	</body>

</html>