<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head th:replace="fragments/head :: title(#{nav.edit-user})"></head>
	<body>
		<div th:replace="fragments/navbar :: default('admin')"></div>
	
	    <div class="page-header mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12 path">
                        <h6 class="title">
                            <a th:href="@{/admin}" th:text="#{nav.admin}"></a>
                            <span class="path-divider">/</span>
                            <a th:href="@{#}">Edit User</a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        
		<br/>
		
		<div class="container">
			<form method="POST" th:action="@{/user/update}" th:object="${userDTO}">
			     <input type="hidden" th:field="*{id}" />
			     <div class="row">
					  <div class="col-12">
					    
				           <h5 class="text-primary">General</h5>
                           <hr/>
                           
                           <div class="form-group">
                               <label for="firstname" th:text="#{user.firstname}"></label> 
                               <input type="text" class="form-control" th:field="*{firstname}" th:validation="firstname" /> 
                               <span class="text-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>
                           </div>
                           <div class="form-group">
                               <label for="lastname" th:text="#{user.lastname}"></label> 
                               <input type="text" class="form-control" th:field="*{lastname}" th:validation="lastname" /> 
                               <span class="text-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
                           </div>
                           <h5 class="text-primary mt-4">Privileges</h5>
                           <hr/>
                           <div class="form-check mb-3">
                               <input type="checkbox" class="form-check-input" th:field="*{admin}"/>
                               <label class="form-check-label" th:for="${#ids.prev('admin')}">
                                    <span>Admin</span>
                                    <small class="form-text text-muted">Indicates if the user is an administrator</small>
                               </label>
                           </div>
                           <div class="form-group">
                               <label for="maxExecutions" th:text="#{user.max-executions}"></label>
                               <input type="number" class="form-control" th:field="*{maxExecutions}" th:validation="maxExecutions" /> 
                               <small class="form-text text-muted" th:text="#{help.user.max-executions}"></small>
                               <span class="text-danger" th:if="${#fields.hasErrors('maxExecutions')}" th:errors="*{maxExecutions}"></span>
                           </div>
                           <h5 class="text-primary mt-4" th:text="#{nav.security}">Security</h5>
                           <hr/>
                           <div class="form-check mb-3">
                               <input type="checkbox" class="form-check-input" th:field="*{enabled}"/>
                               <label class="form-check-label" th:for="${#ids.prev('enabled')}">
                                    <span th:text="#{user.enabled}"></span>
                                    <small class="form-text text-muted" th:text="#{help.user.enabled}"></small>  
                               </label>
                           </div>
                           <div class="form-check mb-3">
                               <input type="checkbox" class="form-check-input" th:field="*{accountNonExpired}"/>
                               <label class="form-check-label" th:for="${#ids.prev('accountNonExpired')}">
                                    <span th:text="#{user.account-non-expired}"></span>
                                    <small class="form-text text-muted" th:text="#{help.user.account-non-expired}"></small>
                               </label>
                           </div>
                           <div class="form-check mb-3">
                               <input type="checkbox" class="form-check-input" th:field="*{accountNonLocked}"/>
                               <label class="form-check-label" th:for="${#ids.prev('accountNonLocked')}">
                                    <span th:text="#{user.account-non-locked}"></span>
                                    <small class="form-text text-muted" th:text="#{help.user.account-non-locked}"></small>
                               </label>
                           </div>
                           <div class="form-check mb-3">
                               <input type="checkbox" class="form-check-input" th:field="*{credentialsNonExpired}"/>
                               <label class="form-check-label" th:for="${#ids.prev('credentialsNonExpired')}">
                                    <span th:text="#{help.user.credential-is-non-expired}"></span>
                                    <small class="form-text text-muted" th:text="#{help.user.credential-is-non-expired}"></small>
                               </label>
                           </div>
					  </div>
					  
					</div>
			
			         <button type="submit" class="btn btn-success" th:text="#{btn.save}"></button>
                     <a th:href="@{/admin}" class="btn btn-light" th:text="#{btn.cancel}"></a>	
			</form>
			<br/>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>