<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head th:replace="fragments/head :: title('Edit User')"></head>
	<body>
		<div th:replace="fragments/navbar :: default('admin')"></div>
	
		<div class="page-header">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h6 class="title">
							<a th:href="@{/admin}" th:text="#{nav.admin}"></a>
							<span class="path-divider">/</span>
							<a th:href="@{/admin/users}" th:text="#{nav.users}">User</a>
							<span class="path-divider">/</span>
							<a th:href="@{#}">Edit</a>
						</h6>
					</div>
				</div>
			</div>
		</div>
	
		<div class="container">
			<form method="POST" th:action="@{/user/update}" th:object="${userDTO}">
				<input type="hidden" th:field="*{id}" />
				<h5>Account</h5>
				<hr/>
				<div class="form-group">
					<label for="firstname" th:text="#{user.firstname}"></label> 
					<input type="text" class="form-control" th:field="*{firstname}" autofocus autocomplete="given-name"/>
					<span class="text-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>
				</div>
				<div class="form-group">
					<label for="lastname" th:text="#{user.lastname}"></label> 
					<input type="text" class="form-control" th:field="*{lastname}" autocomplete="family-name"/>
					<span class="text-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
				</div>
				<br/>
			  	<h5>Security</h5>
			  	<hr/>
			  	<div class="form-group">
					    <label class="form-check-label" for="roleId">
					    	<strong>Role</strong>
					   		<p class="small">Define a role for this user. You can create one by <a th:href="@{/admin/roles}"> clicking here</a></p>
					    </label>
					    <select class="form-control" th:field="*{roleId}">
					     	 <option th:each="role : ${roleDTOs}" 
					    		th:value="${role.id}"
					    		th:text="${role.name}" 
				    		/>
					    </select>
					    <span class="text-danger" th:if="${#fields.hasErrors('roleId')}" th:errors="*{roleId}"></span>
				  </div>
				
					<p>Change the authentication and authorization information</p>
					<div class="card border-default mb-3">
				
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
					  			<div class="row  margin-bottom-minus-20">
									<div class="col-12">
										<div class="form-check">
										    <input type="checkbox" class="form-check-input" th:field="*{enabled}"/>
										    <label class="form-check-label" th:for="${#ids.prev('enabled')}">
										    	<strong>Enabled</strong>
										   		<p class="small">Indicates whether the user is enabled or disabled.</p>
										    </label>
										</div>
									</div>
								</div>
							</li>
							<li class="list-group-item">
					  			<div class="row  margin-bottom-minus-20">
									<div class="col-12">
										<div class="form-check">
										    <input type="checkbox" class="form-check-input" th:field="*{accountNonExpired}"/>
										    <label class="form-check-label" th:for="${#ids.prev('accountNonExpired')}">
										    	<strong>Account Non-Expired</strong>
										   		<p class="small">Indicates whether the user's account has expired.</p>
										    </label>
										</div>
									</div>
								</div>
							</li>
							<li class="list-group-item">
					  			<div class="row margin-bottom-minus-20">
									<div class="col-12">
										<div class="form-check">
										    <input type="checkbox" class="form-check-input" th:field="*{accountNonLocked}"/>
										    <label class="form-check-label" th:for="${#ids.prev('accountNonLocked')}">
										    	<strong>Credentials Non-Expired</strong>
										   		<p class="small">Indicates whether the user's credentials (password) has expired.</p>
										    </label>
										</div>
									</div>
								</div>
							</li>
							<li class="list-group-item">
					  			<div class="row margin-bottom-minus-20">
									<div class="col-12">
										<div class="form-check">
										    <input type="checkbox" class="form-check-input" th:field="*{credentialsNonExpired}"/>
										    <label class="form-check-label" th:for="${#ids.prev('credentialsNonExpired')}">
										    	<strong>Account Non-Locked</strong>
										   		<p class="small">Indicates whether the user is locked or unlocked.</p>
										    </label>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
						
				
				<button type="submit" class="btn btn-success" th:text="#{btn.save}"></button>
				<a th:href="@{/admin/#users}" class="btn btn-light" th:text="#{btn.cancel}"></a>
				
			</form>
			<br/>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>