<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head th:replace="fragments/head :: title(#{app.name})"></head>
	<body class="light-gray">
		<div th:replace="fragments/navbar :: default('home')"></div>
	
		<div class="container">
		  <h1 class="mt-3">Forms</h1>
		  <hr/>
		  
		  
		  
		    <br>
		    <h4>Profile</h4>
		    <ul>
		      <li class="mb-2"><a target="_blank" href="https://forms.gle/rFjky21vwAhEkU519">Participant Questionnaire</a></li>
		    </ul>
		  
            <h4>Pre-Study Experiment</h4>
			<ul>
			    <li><a target="_blank" href="https://drive.google.com/open?id=1-XvQRaLzuzga2E5Q8QcQ42eATvuFVUeN">Feature Model</a></li>
                <li><a target="_blank" href="https://forms.gle/ioNaBY1CN2Amhith7">Pre-study Questionnaire</a></li>
            </ul>
            
            <h4>Nautilus</h4>
            <ul>
                <li><a target="_blank" href="https://forms.gle/hiG9NgSMpA12Bh8o9">Nautilus Questionnaire</a></li>
            </ul>
			
			<h4>Algorithms</h4>
			<ul>
			 <li><a target="_blank" href="https://drive.google.com/open?id=10BHdu-BAv2innyxhvhaZc07K1F7pwcOY">E-Shop</a></li>
                
				<li class="mb-2"><a target="_blank" href="https://forms.gle/7RqALEN6t3ieT54t8">Algorithms Questionnaire</a></li>
			</ul>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>