<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head th:replace="fragments/head :: default(Roles)"></head>
	<body>
		<div th:replace="fragments/navbar :: default('admin')"></div>
	
		<div class="page-header">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h6 class="title">
							<a th:href="@{/}">New Role</a>
						</h6>
					</div>
				</div>
			</div>
		</div>
	
		<div class="container">
			<div th:replace="fragments/form/role :: role"></div>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>