<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head th:replace="fragments/head :: title(#{nav.gallery})"></head>
	<body class="light-gray">
		<div th:replace="fragments/navbar :: default('gallery')"></div>
		
		<br/>
		<div class="container">
		
		      <h1>Gallery</h1>
		      <br/>
		
		      <div class="row">
            <div class="col-12">
                 <div th:each="problem,i : ${problems}">
                     <h5  th:text="${problem.value.name}"></h5>
                     <hr/>
                     
                        <div class="container horizontal-scroll">
                          <div class="row flex-nowrap">
                            
                            <div class="col-sm-3" th:each="execution : ${executions.get(problem.key)}">
                                 <div class="card">
                                  <div class="card-body">
                                  
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="card-title" >
                                            <a th:href="@{|/execution/${execution.id}|}" th:text="${#strings.isEmpty(execution.title)} ? ${#formatter.date(execution.creationDate, userSettingsDTO.timeZone)} : ${execution.title}"></a>
                                        </h5>
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                            
                                                <form method="POST" th:action="@{|/execution/${execution.id}/duplicate|}">
                                                    <a class="dropdown-item" href="#" data:confirm="#{confirm.add-to-my-executions}"><i class="fa fa-copy"></i><span th:text="' ' + #{btn.add-to-my-executions}"></span></a>
                                                </form>
                                            
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <p class="card-text mb-0" th:text="#{execution.creation-date}"></p>
                                    <p class="card-text "><small class="text-muted" th:text="${#formatter.date(execution.creationDate, userSettingsDTO.timeZone)}"></small></p> 
                                   <p class="card-text mb-0" th:text="#{execution.instance}"></p>
                                   <p class="card-text "><small class="text-muted" th:text="${execution.instance}"></small></p> 
                                    
                                    <a class="btn btn-outline-primary btn-block" th:href="@{|/execution/${execution.id}|}" th:text="#{btn.open}"></a>
                                  </div>
                                </div>
                            </div>
                           
                        
                          </div>
                        </div>
                     
                     <br/>
                </div>
                </div> 
            
            </div>
            
        </div>
		
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>