<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head th:replace="fragments/head :: default('Home')"></head>
	<body>
		<div th:replace="fragments/navbar :: default('home')"></div>
		
		<div class="page-header page-header-with-navbar">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h6 class="title">
							<a th:href="@{/}">Home</a>
							<span class="path-divider">/</span>
						</h6>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container page-navbar">
			<div class="row">
				<div class="col-12">
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link" href="#problems" role="tab" data-toggle="tab" aria-selected="true">Problems</a>
						</li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade" id="problems">
							<div class="tab-pane-toolbar">
								<a class="btn btn-outline-success btn-sm" th:href="@{/plugin/upload}">Upload Plugin</a>
							</div>
							<table id="execution-table" class="table table-striped table-hover table-sm table-datatable">
								<thead>
									<tr>
										<th width="50px">#</th>
										<th>Problem</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="plugin,i : ${plugins}">
										<td th:text="${i.count}"></td>
										<td>
											<a th:text="${plugin.getProblemName()}" th:href="@{/problem/} + ${plugin.getProblemKey()}"></a>
										</td>				
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>