<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head th:replace="fragments/head :: default"></head>
	<body>
		<div th:replace="fragments/navbar :: default('home')"></div>

		<div class="container">
			<div class="row titlebar">
				<div class="col-8">
					<h4 class="title">Problems</h4>
				</div>
				<div class="col-4 float-right">
					
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<table id="execution-table" class="table table-striped table-hover table-sm table-datatable">
						<thead>
							<tr>
								<th width="50px">#</th>
								<th>Problem</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="problem,i : ${problems}">
								<td th:text="${i.count}"></td>
								<td>
									<a th:text="${problem.getFileName()}" th:href="@{/problem/} + ${problem.getFileName()}"></a>
								</td>					
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>