<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/head :: default(${filename} + ' - ' + ${plugin.getProblemName()})"></head>

<body>
	<div th:replace="fragments/navbar :: default('home')"></div>
	
	<div class="page-header page-header-with-navbar">
		<div class="container">
			<div class="row">
				<div class="col-8">
					<h6 class="title">
						<a th:href="@{/}">Home</a> 
						<span class="path-divider">/</span>
						<a th:href="@{/problem/}+${plugin.getProblemKey()}" th:text="${plugin.getProblemName()}"></a>
						<span class="path-divider">/</span>
						<a th:href="@{/instance-file/}+${plugin.getProblemKey()}+@{/}+${filename}" th:text="${filename}"></a>
					</h6>
				</div>
				<div class="col-4 float-right">
					<a class="btn btn-success btn-sm float-right" th:href="@{/optimize/} + ${plugin.getProblemKey()} + '/' + ${filename}">Optimize</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container page-navbar">
		<div class="row">
			<div class="col-12">
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#content">Content</a>
						<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#settings">Settings</a>
					</div>
				</nav>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade" id="content">
						<div th:text="${fileContent}"></div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="settings">
						
							<div class="card border-default mb-3">
								<div class="card-header bg-transparent border-default">Download</div>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
							  			<div class="row margin-bottom-minus-20">
											<div class="col-8">
												<strong>Original File</strong><br/>
												<p><small>Save the original instance file in your hard drive</small></p>
											</div>
											<div class="col-4 text-right">
												<a class="btn btn-outline-secondary btn-sm" th:href="@{/download/instance-file} + @{'/'} + ${plugin.getProblemKey()} + @{'/'} + ${filename}">Download</a>
											</div>	
										</div>
									</li>
								</ul>
							</div>
						
							<div class="card border-danger mb-3">
								<div class="card-header bg-transparent border-danger">Danger Zone</div>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
							  			<div class="row margin-bottom-minus-20">
											<div class="col-8">
												<p><strong>Delete Instance File</strong><br/>
												<small>Once you delete, there is no going back. Please be certain.</small></p>
											</div>
											<div class="col-4 text-right">
												<a class="btn btn-outline-danger btn-sm" th:href="@{/instance-file/delete/}+${plugin.getProblemKey()}+@{/}+${filename}">Delete Instance File</a>
											</div>	
										</div>
									</li>
								</ul>
							</div>
						
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>