<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/head :: default"></head>

<body>
	<div th:replace="fragments/navbar :: default('home')"></div>

	<div class="container">
		<h4>Optimize</h4>
		<br/>

		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" href="#general" role="tab" data-toggle="tab" aria-selected="true">General</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#objectives" role="tab" data-toggle="tab">Objectives</a>
			</li>
		</ul>

		<form id="form-execute" action="#" th:action="@{/optimize}" th:object="${parameters}" method="post">
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="general">
					<br/>
					<div class="form-group">
						<label for="populationSize">Population Size</label>
						<input type="number" class="form-control" th:field="*{populationSize}" />
					</div>
					<div class="form-group">
						<label for="maxEvaluations">Max Evaluations</label>
						<input type="number" class="form-control" th:field="*{maxEvaluations}" />
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="objectives">
					<br/>
					<div class="form-group">
						<label for="maxEvaluations">Max Evaluations</label>
						<input type="number" class="form-control" th:field="*{maxEvaluations}" />
					</div>
				</div>
			</div>
			<button type="submit" id="btn-execute" class="btn btn-default">Execute</button>
		</form>





	</div>

	<div th:replace="fragments/footer :: footer"></div>
	<script type="text/javascript" th:src="@{/js/controller/optimize.js}"></script>
</body>

</html>