<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/head :: default(Optimize)"></head>

<body>
	<div th:replace="fragments/navbar :: default('home')"></div>
	
	<div class="page-header page-header-with-navbar">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h6 class="title">
						<a th:href="@{/}">Home</a> 
						<span class="path-divider">/</span>
						<a th:href="@{/problem/}+${plugin.getProblemKey()}" th:text="${plugin.getProblemName()}"></a>
						<span class="path-divider">/</span>
						<a th:href="@{/instance-file/}+${plugin.getProblemKey()}+@{/}+${filename}" th:text="${filename}"></a>
						<span class="path-divider">/</span>
						<a th:href="@{/optimize/} + ${plugin.getProblemKey()} + '/' + ${filename}">Optimize</a>
					</h6>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container page-navbar">
		<div class="row">
			<div class="col-12">

				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link" href="#general" role="tab" data-toggle="tab" aria-selected="true">General</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#operators" role="tab" data-toggle="tab">Operators</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#objectives" role="tab" data-toggle="tab">Objectives</a>
					</li>
				</ul>
		
				<form id="form-execute" class="needs-validation" th:object="${parameters}" novalidate>
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane" id="general">
							<input type="hidden" class="form-control" th:field="*{problemKey}" />
							<input type="hidden" class="form-control" th:field="*{filename}" />
							<div class="form-group">
								<label for="populationSize">Population Size</label>
								<input type="number" class="form-control" th:field="*{populationSize}" min="10" max="1000" step="10" required/>
							</div>
							<div class="form-group">
								<label for="maxEvaluations">Max Evaluations</label>
								<input type="number" class="form-control" th:field="*{maxEvaluations}" min="10" max="10000000" step="10" required/>
							</div>
						</div>
						<div class="tab-pane fade" id="operators">
							<div class="row">
								<div class="form-group col-4">
									<label for="crossoverName">Crossover</label>
									<select class="form-control" th:field="*{crossoverName}">
										<option th:each="crossover : ${operatorAdapter.getCrossoverNames()}" 
								    		th:value="${crossover.key}"
								    		th:text="${crossover.value}" 
							    		/>
									</select>
								</div>
								<div class="form-group col-4">
									<label for="crossoverProbability">Probability</label>
									<input type="number" class="form-control" th:field="*{crossoverProbability}" min="0.0" max="1.0" step="0.1" required/>
								</div>
								<div class="form-group col-4">
									<label for="crossoverDistribution">Distribution</label>
									<input type="number" class="form-control" th:field="*{crossoverDistribution}" min="1.0" max="1000.0" step="0.1" required/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="form-group col-4">
									<label for="mutationName">Mutation</label>
									<select class="form-control" th:field="*{mutationName}">
										<option th:each="mutation : ${operatorAdapter.getMutationNames()}" 
								    		th:value="${mutation.key}"
								    		th:text="${mutation.value}" 
							    		/>
									    
							  		</select>
								</div>
								<div class="form-group col-4">
									<label for="mutationProbability">Probability</label>
									<input type="number" class="form-control" th:field="*{mutationProbability}" min="0.0" max="1.0" step="0.001" required/>
								</div>
								<div class="form-group col-4">
									<label for="mutationDistribution">Distribution</label>
									<input type="number" class="form-control" th:field="*{mutationDistribution}" min="1.0" max="1000.0" step="0.1" required/>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="objectives" th:with="groups = ${objectiveAdapter.getGroups()}">
							<div class="row" th:with="size = ${12/objectiveAdapter.getNumberOfGroups()}">
								<div th:class="'col-' + ${size}" th:each="group,i : ${groups}">
									<div class="card" >
										<div class="card-header" >
											<span th:text="${group.key}"></span>
											<input type="checkbox" 
												class="float-right checkbox-select-all"
												name="objectivesName"	 
											/>
										</div>
										<div class="card-body">
											<div th:each="objective : ${group.value}">
												<div class="form-group">
													<div class="checkbox">
														<label class="no-select">
															<input type="checkbox" 
																class="objectiveKeys"
																name="objectiveKeys" 
																th:checked="${objective.isChecked()}"
																th:value="${objective.getKey()}" 
																th:text="${objective.getName()}"
															/>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<hr/>
					<button type="submit" id="btn-execute" class="btn btn-success btn-sm">Execute</button>
					<button class="btn btn-light btn-sm" onclick="window.history.back()">Cancel</button>
					
					
				</form>
				<div class="console"></div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
	<div th:replace="fragments/modal-progressbar :: progressbar"></div>
	<div th:replace="fragments/modal-console :: console"></div>
	<script type="text/javascript" th:src="@{/js/controller/optimize.js}"></script>
</body>

</html>