<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/head :: title(#{nav.optimize})"></head>

	<body>

		<div th:replace="fragments/navbar :: default('home')"></div>
		
		<div class="page-header page-header-with-navbar">
			<div class="container">
				<div class="row">
					<div class="col-12 path">
						<h6 class="title">
							<a th:href="@{/}" th:text="#{nav.home}"></a> 
							<span class="path-divider">/</span>
							<a th:href="@{/problem/} + ${problem.id}" th:text="${problem.name}"></a>
							<span class="path-divider">/</span>
							<a th:href="@{/instance/} + ${problem.id} + @{/} + ${instance}" th:text="${instance}"></a>
							<span class="path-divider">/</span>
							<a th:href="@{/optimize/} + ${problem.id} + @{/} + ${instance}" th:text="#{btn.optimize}"></a>
						</h6>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container page-navbar">
			<div class="row">
				<div class="col-12">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#general">General</a>
							<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#operators">Operators</a>
							<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#objectives">Objectives</a>
							<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#preferences">Preferences</a>
						</div>
					</nav>
					<form  method="POST" th:action="@{/optimize/save}" th:object="${parametersDTO}" autocomplete="off">
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade" id="general">
								<input type="hidden" class="form-control" name="userId" th:value="${userId}" />
								<input type="hidden" class="form-control" th:field="*{problemId}" />
								<input type="hidden" class="form-control" th:field="*{instance}" />
								<div class="form-group">
									<label for="algorithmId">Algorithm</label>
									<select class="form-control" th:field="*{algorithmId}" th:validation="algorithmId">
										<option th:each="algorithm : ${algorithms}" 
								    		th:value="${algorithm.key}"
								    		th:text="${algorithm.value.name}" 
							    		/>
									</select>
									<span class="text-danger" th:if="${#fields.hasErrors('algorithmId')}" th:errors="*{algorithmId}"></span>
								</div>
								<div class="form-group">
									<label for="populationSize">Population Size</label>
									<input type="number" class="form-control" th:field="*{populationSize}" th:validation="populationSize"  />
									<span class="text-danger" th:if="${#fields.hasErrors('populationSize')}" th:errors="*{populationSize}"></span>
								</div>
								<div class="form-group">
									<label for="maxEvaluations">Max Evaluations</label>
									<input type="number" class="form-control" th:field="*{maxEvaluations}" th:validation="maxEvaluations" />
									<span class="text-danger" th:if="${#fields.hasErrors('maxEvaluations')}" th:errors="*{maxEvaluations}"></span>
								</div>
							</div>
							
							
							<div class="tab-pane fade" id="operators">
								<div class="row">
									<div class="form-group col-12">
										<label for="selectionId">Selection</label>
										<select class="form-control" th:field="*{selectionId}">
											<option th:each="selection : ${selections}" 
												th:if="${selection.value.supports(problem)}"
									    		th:value="${selection.key}"
									    		th:text="${selection.value.name}" 
								    		/>
										</select>
										<span class="text-danger" th:if="${#fields.hasErrors('selectionId')}" th:errors="*{selectionId}"></span>
									</div>
								</div>
								<hr/>
								<div class="row">
									<div class="form-group col-4">
										<label for="crossoverId">Crossover</label>
										<select class="form-control" th:field="*{crossoverId}">
											<option th:each="crossover : ${crossovers}"  
												th:if="${crossover.value.supports(problem)}"
									    		th:value="${crossover.key}"
									    		th:text="${crossover.value.name}" 
								    		/>
										</select>
										<span class="text-danger" th:if="${#fields.hasErrors('crossoverId')}" th:errors="*{crossoverId}"></span>
									</div>
									<div class="form-group col-4">
										<label for="crossoverProbability">Probability</label>
										<input type="number" class="form-control" th:field="*{crossoverProbability}" min="0.0" max="1.0" step="0.1" required/>
										<span class="text-danger" th:if="${#fields.hasErrors('crossoverProbability')}" th:errors="*{crossoverProbability}"></span>
									</div>
									<div class="form-group col-4">
										<label for="crossoverDistribution">Distribution</label>
										<input type="number" class="form-control" th:field="*{crossoverDistribution}" min="1.0" max="1000.0" step="0.1" required/>
										<span class="text-danger" th:if="${#fields.hasErrors('crossoverDistribution')}" th:errors="*{crossoverDistribution}"></span>
									</div>
								</div>
								<hr/>
								<div class="row">
									<div class="form-group col-4">
										<label for="mutationId">Mutation</label>
										<select class="form-control" th:field="*{mutationId}">
											<option th:each="mutation : ${mutations}"
												th:if="${mutation.value.supports(problem)}" 
									    		th:value="${mutation.key}"
									    		th:text="${mutation.value.name}" 
								    		/>
								  		</select>
								  		<span class="text-danger" th:if="${#fields.hasErrors('mutationId')}" th:errors="*{mutationId}"></span>
									</div>
									<div class="form-group col-4">
										<label for="mutationProbability">Probability</label>
										<input type="number" class="form-control" th:field="*{mutationProbability}" min="0.0" max="1.0" step="0.001" required/>
										<span class="text-danger" th:if="${#fields.hasErrors('mutationProbability')}" th:errors="*{mutationProbability}"></span>
									</div>
									<div class="form-group col-4">
										<label for="mutationDistribution">Distribution</label>
										<input type="number" class="form-control" th:field="*{mutationDistribution}" min="1.0" max="1000.0" step="0.1" required/>
										<span class="text-danger" th:if="${#fields.hasErrors('mutationDistribution')}" th:errors="*{mutationDistribution}"></span>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="objectives">
								<p>Select the objectives to be optimized:</p>
								<div th:each="objective,i : ${problem.getObjectives()}">
									<div class="form-check checkbox-all-selected">
										<input type="checkbox" 
											class="form-check-input"
											th:field="*{objectiveIds}"
											th:value="${objective}"
										/>
									  	<label class="form-check-label" th:for="${#ids.prev('objectiveIds')}" th:text="${objective.name}"> </label>
									</div>
									<br/>
								</div>
								<span class="text-danger" th:if="${#fields.hasErrors('objectiveIds')}" th:errors="*{objectiveIds}"></span>
							</div>
							<div class="tab-pane fade" id="preferences">
								<div class="form-group">
									<label for="referencePoints">Reference Points</label>
								    <textarea class="form-control" rows="5" th:field="*{referencePoints}"></textarea>
								    <small class="form-text text-muted">Use ';' to separate the values and provide a RP by line</small>
								    <span class="text-danger" th:if="${#fields.hasErrors('referencePoints')}" th:errors="*{referencePoints}"></span>
								</div>
								<div class="form-group">
									<label for="epsilon">Epsilon</label>
									<input type="number" class="form-control" th:field="*{epsilon}" min="0.0" max="1.0" step="0.001" required/>
									<span class="text-danger" th:if="${#fields.hasErrors('epsilon')}" th:errors="*{epsilon}"></span>
								</div>
							</div>
						</div>
						<hr/>
						<button type="submit" id="btn-execute" class="btn btn-success" th:text="#{btn.execute}"></button>
						<a class="btn btn-light" th:href="@{/problem/} + ${problem.id}" th:text="#{btn.cancel}"></a>
					</form>
					<div class="console"></div>
				</div>
			</div>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>
		<!-- <script type="text/javascript" th:src="@{/js/controller/optimize.js}"></script> -->
	</body>

</html>