<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/head :: default(${plugin.getProblemName()})"></head>

<body>
	<div th:replace="fragments/navbar :: default('home')"></div>
	
	<div class="page-header page-header-with-navbar">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h5 class="title">
						<a th:href="@{/}">Home</a> 
						<span class="path-divider">/</span>
						<a th:href="@{/problem/}+${plugin.getProblemKey()}" th:text="${plugin.getProblemName()}"></a>
					</h5>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container page-navbar">
		<div class="row">
			<div class="col-12">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" href="#instances" role="tab" data-toggle="tab">Instances</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#executions" role="tab" data-toggle="tab">Executions</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#description" role="tab" data-toggle="tab">Description</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="instances">
						<div class="d-none">
							<div id="datatable-buttons" class="btn-outline-success btn-sm" th:href="@{/instance-file/} + ${plugin.getProblemKey()} + '/upload'">Upload Instance File</div>
						</div>
						<table id="instances-table" class="table table-striped table-hover table-sm">
							<thead>
								<tr>
									<th width="50px">#</th>
									<th width="50%">File</th>
									<th>Size</th>
									<th>Last Modified Time</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="instanceFile,i : ${instanceFiles}">
									<td th:text="${i.count}"></td>
									<td>
										<a th:text="${instanceFile.getFileName()}" th:href="@{/instance-file/} + ${plugin.getProblemKey()} + '/' + ${instanceFile.getFileName()}"></a>
									</td>					
									<td th:text="${T(java.nio.file.Files).size(instanceFile)} + ' bytes'"></td>
									<td th:text="${#dates.format(T(java.nio.file.Files).getLastModifiedTime(instanceFile).toMillis(), 'YYYY-MM-dd HH:mm:ss')}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="executions">
						<table id="execution-table" class="table table-striped table-hover table-sm table-datatable">
							<thead>
								<tr>
									<th width="50px">#</th>
									<th>Execution</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="execution,i : ${executions}">
									<td th:text="${i.count}"></td>
									<td>
										<a th:text="${execution.getId()}" th:href="@{/execution/} + ${execution.getId()}"></a>
									</td>		
									<td th:text="${#dates.format(execution.getDate(), 'YYYY-MM-dd HH:mm:ss')}"></td>			
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="description" th:utext="${plugin.getDescription()}">
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>