<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head th:replace="fragments/head :: title(#{nav.preferences})"></head>
	<body>
		<div th:replace="fragments/navbar :: default('')"></div>
		<br/>
		<div class="container">
			<div class="row">
				<div class="col-3">
					<div th:replace="fragments/panel/settings :: default('preferences')"></div>
				</div>
				<div class="col-9">
					<h5 th:text="#{nav.preferences}"></h5>
					<hr/>
					<form method="POST" th:action="@{/settings/preferences/update}" th:object="${preferencesDTO}">
						<input type="hidden" th:field="*{id}" />
						<div class="form-group">
							<label for="decimalPlaces" th:text="#{user.decimalPlaces}"></label> 
							<input type="number" class="form-control" th:field="*{decimalPlaces}" step="1" min="1" max="10" required autocomplete="off" autofocus/>
							<small id="passwordHelpBlock" class="form-text text-muted"> Min: 1 and Max: 10</small>
							<span class="text-danger" th:if="${#fields.hasErrors('decimalPlaces')}" th:errors="*{decimalPlaces}"></span>
						</div>
						<div class="form-group">
                            <label for="decimalSeparator" th:text="#{user.decimalSeparator}"></label> 
                            <select class="form-control"  th:field="*{decimalSeparator}" required>
                                <option value="COMMA" th:text="#{decimal-separator.comma}"></option>
                                <option value="POINT" th:text="#{decimal-separator.point}"></option>
                            </select>
                            <span class="text-danger" th:if="${#fields.hasErrors('decimalSeparator')}" th:errors="*{decimalSeparator}"></span>
                        </div>
						<div class="form-group">
							<label for="language" th:text="#{user.language}"></label> 
							<select class="form-control"  th:field="*{language}" required>
						     	<option value="en_US" th:text="#{locale.en-us}"></option>
						    	<option value="pt_BR" th:text="#{locale.pt-br}"></option>
						    </select>
						    <span class="text-danger" th:if="${#fields.hasErrors('language')}" th:errors="*{language}"></span>
						</div>
						<button type="submit" class="btn btn-success" th:text="#{btn.save}"></button>
					</form>
				</div>
			</div>
		</div>

		<div th:replace="fragments/footer :: footer"></div>
	</body>

</html>