<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments/head :: title(#{nav.signup})"></head>
	<body class="light-gray">
		<div th:replace="fragments/navbar :: default('home')"></div>
		<br/>
		<br/>
		<div class="container">
			<div class="row">
				<div class="offset-md-4 col-md-4 offset-md-4">
					<div class="card">
						<div class="card-body">
							<h4 class="center" th:text="#{nav.signup}"></h4>
							<p class="center" th:text="#{nav.get-started-with-your-free-account}"></p>
							<hr/>
							<form th:action="@{/signup/save}" method="post" th:object="${signupDTO}">
								<div class="form-group">
									<label for="firstname" th:text="#{user.firstname}"></label> 
									<input type="text" class="form-control" th:field="*{firstname}" th:validation="firstname"/>
									<span class="text-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>
								</div>
								<div class="form-group">
									<label for="lastname" th:text="#{user.lastname}"></label> 
									<input type="text" class="form-control" th:field="*{lastname}" th:validation="lastname"/>
									<span class="text-danger" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
								</div>
								<div class="form-group">
									<label for="email" th:text="#{user.e-mail}"></label> 
									<input type="email" class="form-control" th:field="*{email}" th:validation="email" />
									<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
								</div>
								<div class="form-group">
									<label for="password" th:text="#{user.password}"></label> 
									<input type="password" class="form-control" th:field="*{password}" th:validation="password"/>
									<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
								</div>
								<button type="submit" class="btn btn-primary btn-block" th:text="#{btn.signup}"></button>
								<br>
								<p class="center"><a  th:href="@{/login}" th:text="#{nav.already-have-an-account}"></a></p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>