<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head th:replace="fragments/head :: default(Solution)"></head>

	<body th:with="
		descriptor = ${plugin.getDescriptor()},
		pluginId = ${descriptor.getPluginId()},
		pluginName = ${descriptor.getPluginDescription()},
		executionName = ${execution.getSettings().getName()}">
	
		<div th:replace="fragments/navbar :: default('home')"></div>
	
		<div class="page-header page-header-with-navbar">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h6 class="title">
							<a th:href="@{/}">Home</a> 
							<span class="path-divider">/</span>
							<a th:href="@{/plugin/} + ${pluginId}" th:text="${pluginName}"></a>
							<span class="path-divider">/</span> 
							<a th:href="@{/execution/}+${execution.getId()}" th:text="${#strings.isEmpty(executionName)} ? ${execution.getId()} : ${executionName}"></a>
							<span class="path-divider">/</span>
							<a th:href="@{/solution/} + ${executionId} + @{/} + ${solutionIndex}" th:text="'Solution '+${solutionIndex}"></a> 
						</h6>
					</div>
				</div>
			</div>
		</div>
	
		<div class="container page-navbar">
			<div class="row">
				<div class="col-12">
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#variables">Variables</a>
						<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#objectives">Objectives</a>
						<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#settings">Settings</a>
					</div>
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade" id="variables">
							<div class="slider-on-tab float-right">
								<input type="text" name="general-feedback"
									class="slider-colorful slider-master" id="general-feedback"
									data-provide="slider" data-slider-min="-1" data-slider-max="1"
									data-slider-step="0.1"
									th:attr="data-slider-value=${0}"
									data-slider-tooltip="hide" />
							</div>
							<form action="#" th:action="@{/solution/} + ${executionId} + @{/} + ${solutionIndex} + @{/save/feedback}" method="post">
								<table id="table-variables"
									class="table table-striped table-hover table-sm"
									style="width: 100%">
									<thead>
										<tr>
											<th>Variable</th>
											<th>Feedback</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="value,i : ${solution.getVariablesAsList()}">
											<td width="100%" th:text="${value}"/>
											<td th:with="feedback = ${solution.getVariableUserFeedback(i.index)}">
												<input type="text"
													th:name="'feedback-for-variable-' + ${i.index}"
													class="slider-colorful slider-slave variable-feedback"
													data-provide="slider" 
													data-slider-min="-1"
													data-slider-max="1" 
													data-slider-step="0.1"
													th:attr="data-slider-value = ${feedback == null? 0.0 : feedback}"
													data-slider-tooltip="hide" />
											</td>
										</tr>
									</tbody>
								</table>
								<hr />
								<button type="submit" class="btn btn-success" id="btn-feedback">Save</button>
								<a class="btn btn-outline-secondary" th:href="@{/execution/} + ${executionId}">Back</a>
							</form>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="objectives">
							<table id="execution-table"
								class="table table-striped table-hover table-sm table-datatable"
								style="width: 100%">
								<thead>
									<tr>
										<th>Objective</th>
										<th>Value</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="instance : ${objectivesMap}">
										<td th:text="${instance.key}"></td>
										<td th:text="${instance.value}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="settings">
							<div class="card border-danger mb-3">
								<div class="card-header bg-transparent border-danger">Danger Zone</div>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
							  			<div class="row margin-bottom-minus-20">
											<div class="col-8">
												<strong>Clear User Preferences</strong><br/>
												<p><small>Clear the user feedback to provide the preferences again</small></p>
											</div>
											<div class="col-4 text-right">
												<form method="post" th:action="@{/solution/} + ${executionId} + @{/} + ${solutionIndex} + @{/clear/user-feedback}" >
													<button class="btn btn-outline-danger pull-right" data:confirm="#{clear.all.user.feedbacks.single.solution}">Clear User Feedback</button>
												</form>
											</div>	
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					
				</div>
				
					
					
				
				
				
									
				
				
			</div>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>
		<script type="text/javascript" th:src="@{/js/controller/solution.js}"></script>
	</body>

</html>