<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head th:replace="fragments/head :: title('Solution '+${solutionIndex})"></head>

	<body>
	
		<div th:replace="fragments/navbar :: default('home')"></div>
	
		<div class="page-header">
			<div class="container">
				<div class="row">
					<div class="col-12 path">
						<h6 class="title">
							<a th:href="@{/}" th:text="#{nav.home}"></a>
							<span class="path-divider">/</span> 
                            <a class="format-date" th:href="@{|/execution/${execution.id}|}" th:text="${#strings.isEmpty(execution.title)} ? ${execution.creationDate} : ${execution.title}"></a>  
							<span class="path-divider">/</span>
							<a th:href="@{/solution/}+${execution.id}+@{/}+${solutionIndex}+@{/}+${objectiveIndex}" th:text="'Solution '+ ${solutionIndex}"></a> 
						</h6>
					</div>
				</div>
			</div>
		</div>
	
		<div class="container">
			<div class="row">
				
								<div class="col-7">
									<table id="table-variables"
										class="table table-striped table-hover table-sm table-datatable"
										style="width: 100%">
										<thead>
											<tr>
											     <th width="50px">#</th>
												<th th:text="#{nav.variable}"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="value,i : ${variables}">
											 <td th:text="${i.count}"></td>
												<td  th:text="${value}"/>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-5">
									
									<div class="card">
										<div class="card-header light-gray" th:text="#{nav.objectives}"></div>
										<div class="card-body">
											<table id="solution-objective-table"
												class="table table-striped table-hover table-sm"
												style="width: 100%">
												<thead>
													<tr>
													    <th width="20px">#</th>
														<th th:text="#{nav.objective}"></th>
														<th th:text="#{nav.raw}"></th>
														<th th:text="#{nav.normalized}"></th>
													</tr>
												</thead>
												<tbody>
													   <tr th:each="i : ${#numbers.sequence(0, solution.numberOfObjectives - 1)}">
													    <td th:text="${i+1}"></td>
													    <td th:text="${objectives.get(i)}"></td>
													    <td th:text="${#numbers.formatDecimal(solution.getObjective(i),1, userSettingsDTO.decimalPlaces, userSettingsDTO.decimalSeparator)}"></td>
													    <td th:text="${#numbers.formatDecimal(normalizedSolution.getObjective(i),1, userSettingsDTO.decimalPlaces, userSettingsDTO.decimalSeparator)}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<br>
									<div class="card border-success" th:if="${not isReadOnly}">
										  <div class="card-header border-success " th:text="#{nav.feedback-for(${feedbackForObjective.getName()})}"></div>
										  <div class="card-body">
										  	<form action="#" th:action="@{|/solution/${executionId}/${solutionIndex}/${feedbackForObjectiveIndex}/save/feedback|}" method="post" th:object="${userFeedbackDTO}">
											  	<input type="hidden" th:field="*{objectiveIndex}" th:validation="objectiveIndex">
											  	<div class="d-flex justify-content-center mt-0">
														  <span class="font-weight-bold indigo-text mr-2 mt-1">Bad</span>
														  
														  <input type="range" class="custom-range" th:field="*{feedback}" min="-1" max="1" step="1" th:validation="feedback"/>
														  <span class="font-weight-bold indigo-text ml-2 mt-1">Good</span>
														</div>
												
												
												
												<button type="submit" class="btn btn-success mt-4" id="btn-feedback">Save</button>
												</form>
											</div>
										</div> 
								</div>
							</div>
						</div>
					
				
					
					
				
				
				
									
			
	
		<div th:replace="fragments/footer :: footer"></div>
		<script type="text/javascript" th:src="@{/js/controller/solution.js}"></script>
	</body>

</html>