<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head th:replace="fragments/head :: default(Solution)"></head>

	<body>
	
		<div th:replace="fragments/navbar :: default('home')"></div>
	
		<div class="page-header">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h6 class="title">
							<a th:href="@{/}">Home</a> 
							<span class="path-divider">/</span>
							<a href="#" th:text="Spartakus"></a>
						</h6>
					</div>
				</div>
			</div>
		</div>
	
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label for="instances">Instances</label>
								<select class="form-control" id="instances">
									<option value="james">James</option>
									<option value="cas">CAS</option>
									<option value="ws">WS</option>
									<option value="eshop">EShop</option>
									<option value="drupal">Drupal</option>
									<option value="smarthome">Smarthome</option>
								</select>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="dimension">Dimension</label>
								<select class="form-control" id="dimension">
									<option value="2d">2 Objectives</option>
									<option value="3d">3 Objecitves</option>
								</select>
							</div>
						</div>
					</div>
					
					<div class="nav nav-tabs" id="nav-tab-qa" role="tablist">
						<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#quality-attributes">Quality Attributes</a>
						<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#correlation">Correlation</a>
						<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#objectives">Objectives</a>
					</div>
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade" id="quality-attributes">
							<div class="row">
								<div class="form-group col-10">
									<label for="qa">Quality Attribute</label>
									<select class="form-control" id="qa">
										<option value="metric-r-hypervolume">R-Hypervolume</option>
										<option value="metric-r-igd">R-IGD</option>
										<option value="metric-r-spread">R-Spread</option>
										<option value="metric-number-of-solutions"># of Solutions</option>
										<option value="metric-number-of-solutions-in-roi"># of Solutions In ROI</option>
										<option value="metric-computing-time">Computing Time</option>
										<option value="metric-min-ed-value">Min ED Value</option>
										
										<option value="metric-hypervolume">Hypervolume</option>
										<option value="metric-igd">IGD</option>
									</select>
								</div>
								<div class="form-group col-2">
									<label for="y-range-0-1">Is value in [0:1]?</label>
									<select class="form-control" id="y-range-0-1">
										<option value="yes">Yes</option>
										<option selected value="no">No</option>
									</select>
								</div>
							</div>
							
							
							
							<div id="canvas-qa"></div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="correlation">
							
			
			<div class="row">			
	<div id="graph col-12">
          <div id="options">
            <label id="engine">
              Engine:
              <select>
                <option>circo</option>
                <option selected>dot</option>
                <option>fdp</option>
                <option>neato</option>
                <option>osage</option>
                <option>twopi</option>
              </select>
            </label>
            
            <label id="format">
              Format:
              <select>
                <option selected>svg</option>
                <option>png-image-element</option>
                <option>json</option>
                <option>xdot</option>
                <option>plain</option>
                <option>ps</option>
              </select>
            </label>
            
            <label id="raw">
              <input type="checkbox"> Show raw output
            </label>
          </div>
          <div id="output">
            <div id="error"></div>
          </div>
        </div>
	</div>	
	
	
						
							
							
							
							
							
							
						</div>
						<div role="tabpanel" class="tab-pane fade" id="objectives">
							<div class="row">
								<div class="form-group col-6">
									<label for="x-axis-objective">X-Axis</label>
									<select class="form-control reload-objective-tab" id="x-axis-objective">
										<option selected value="0">number-of-products</option>
										<option value="1">alive-mutants</option>
										<option value="2">uncovered-pairs</option>
										<option value="3">similarity</option>
										<option value="4">cost</option>
										<option value="5">unselected-features</option>
										<option value="6">unimportant-features</option>
									</select>
								</div>
								<div class="form-group col-6">
									<label for="y-axis-objective">Y-Axis</label>
									<select class="form-control reload-objective-tab" id="y-axis-objective">
										<option value="0">number-of-products</option>
										<option selected value="1">alive-mutants</option>
										<option value="2">uncovered-pairs</option>
										<option value="3">similarity</option>
										<option value="4">cost</option>
										<option value="5">unselected-features</option>
										<option value="6">unimportant-features</option>
									</select>
								</div>
							</div>
						
						
							<div id="canvas-objectives"></div>
						</div>
					</div>
					
						
				</div>	
			</div>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>
		
		<script src="http://viz-js.com/js/ace/ace.js"></script>
	    <script src="http://viz-js.com/bower_components/viz.js/viz.js"></script>
	    <script src="http://viz-js.com/bower_components/fabric.js/dist/fabric.min.js"></script>
	    <script src="http://viz-js.com/bower_components/Split.js/split.min.js"></script>
	    <script src="http://viz-js.com/bower_components/svg-pan-zoom/dist/svg-pan-zoom.min.js"></script>
    
    
    	<script type="text/javascript" th:src="@{/spartakus/script.js}"></script>
		
		<script>

	   
    
    </script>
		
		
		
		
		
	</body>

</html>