<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/head :: default(Solution)"></head>

<body>
	<div th:replace="fragments/navbar :: default('home')"></div>
	
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h6 class="title">
						<a th:href="@{/}">Home</a> 
						<span class="path-divider">/</span>
						<a th:href="@{/problem/}+${plugin.getProblemKey()}" th:text="${plugin.getProblemName()}"></a>
						<span class="path-divider">/</span>
						<a th:href="@{/problem/}+${plugin.getProblemKey()} + @{/upload/instance-file/}">Upload Instance File</a>
					</h6>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-12">
				<form method="POST" action="#" th:action="@{/upload/instance-file/}+${plugin.getProblemKey()}" th:object="${uploadInstanceFile}" enctype="multipart/form-data">
					<div class="form-group">
						<label for="file">Select the instance file</label>
					    <input id="file" type="file" name="file" class="form-control-file btn-sm"/>
					    <span class="text-danger" th:if="${#fields.hasErrors('file')}" th:errors="*{file}"></span>
				 	</div>
				  	<button type="submit" class="btn btn-success btn-sm">Upload</button>
				</form>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>