<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/head :: default(Solution)"></head>

<body>
	<div th:replace="fragments/navbar :: default('home')"></div>
	<div class="page-head-without-tabs"></div>

	<div class="container page-content-without-tabs">
		<div class="row titlebar-without-tabs">
			<div class="col-8">
				<h5 class="title">
					<a th:href="@{/}">Home</a> 
					<span class="path-divider">/</span>
					<a th:href="@{/problem/}+${problemKey}" th:text="${problemName}"></a>
					<span class="path-divider">/</span>
					<a th:href="@{/instance-file/}+${problemKey} + '/upload'">Upload Instance File</a>
				</h5>
			</div>
			<div class="col-4 float-right">
			</div>
		</div>
		<div class="row">
			<form method="POST" action="#" th:action="@{/upload-instance/upload}" th:object="${uploadInstance}" enctype="multipart/form-data">
			  <div class="form-group">
				<label for="file">Select the instance file</label>
			    <input id="file" type="file" name="file" class="form-control-file btn-sm"/>
			    <span class="text-danger" th:if="${#fields.hasErrors('file')}" th:errors="*{file}"></span>
			  </div>
			  <div class="form-group">
				<input type="hidden" class="form-control" th:field="*{problemKey}" />
			  </div>
			  <button type="submit" class="btn btn-success btn-sm">Upload</button>
			  <button class="btn btn-light btn-sm" onclick="window.history.back()">Cancel</button>
			</form>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>