html {
	
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1{
color: RGB(32, 57, 81);	
}
.page-header{
	height: 70px;
	background-color: #FCFBFA;
	border-bottom: 1px solid #dee2e6;
	margin-bottom: 20px;
}

.page-header .path{
	/*border: 1px solid black;*/
}

.page-header .path .title{
	margin-top: 6px;
	margin-bottom: 0px;
} 

.page-header .toolbar{
	/*border: 1px solid black;*/
}


.page-header-with-navbar{
	margin-bottom: 0px;
	height: 110px !important;
}

.page-header .toolbar .btn:first-child{
	margin-left: 10px;
}

.page-header .row{
	padding-top: 15px;
}

.page-navbar{
	margin-top: -42px;
}

.path-divider {
	margin: 0 0.25em;
	font-size: 18px;
	line-height: 26px;
	color: #586069;
}

.light-gray{
	background-color: #FCFBFA;
}

.gray{
	background-color: #fafbfc;
}

.objectiveIds{
	margin-right: 10px
}


.tab-content{
	margin-top: 15px;
}

.nav-tabs .nav-link{
	color: #495057;
}

.nav-tabs .nav-item{
	margin-bottom: -2px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	border-top-color: #F95100;
	border-top-width: 2px;
}


#objectives .card label{
	margin-top: 0px;
	margin-bottom: 0px;
}

#objectives .card .card-header{
	background-color: #f1f8ff;
	border-bottom-color: #c8e1ff;
}

#objectives .card{
	border: 1px solid #c8e1ff;
}


.bg-dark{
	background-color: RGB(32, 57, 81) !important;
}



.margin-bottom-minus-20{
	margin-bottom: -20px
}

.margin-bottom-minus-10{
	margin-bottom: -10px
}


#modal-console textarea{
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
}



.center {
  text-align:center
}


.table .dropdown .btn-sm{
	width: 25px;
	
	text-align: center;
	height: 25px !important;
	padding: .0rem .4rem;
	padding-left: 4px !important; 
}


.tab-pane-toolbar{
	margin-bottom: 15px;
}

.card .card-header input[type=checkbox]{
	margin-top: 5px;	
}


.navbar-container .alert{
	margin-bottom: 0px;
	border-radius: 0px;
	padding: .75rem 1.55rem !important;
}

.navbar-container .alert ul{
	margin-bottom: 0px !important;
}

.navbar-container .alert-dismissible .close {
	margin-right: 6.1rem;
}


.modal {
  overflow-y:scroll;
}

.slider{
	width: 100%;
}

.dropdown-toggle-white {
	color: white !important;
}

.dropdown-toggle-white:hover{
	text-decoration: none;
}

.btn-xs{
	padding: 3px 6px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}


.form-check-label{
	font-weight: bold;
}


/* The heart of the matter */
.horizontal-scroll > .row {
  overflow-x: auto;
  
}

.horizontal-scroll .card-title{
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
}

