html {
	overflow-y: scroll;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.page-content{
	margin-top: -89px;
}
.page-head{
	height: 100px;
	background-color: #fafbfc;
	border-bottom: 1px solid #dee2e6;
}

.page-content .path-divider {
	margin: 0 0.25em;
	font-size: 18px;
	line-height: 26px;
	color: #586069;
}

.titlebar{
	margin-bottom: 8px;
	height: 39px;
}

.titlebar a{
	margin-top: 3px;
}

.titlebar .title{
	margin-top: 6px;
}

.gray{
	background-color: #fafbfc;
}

.objectiveKeys{
	margin-right: 10px
}


.tab-content{
	margin-top: 15px;
}

.nav-tabs .nav-link{
	color: #495057;
}

.nav-tabs .nav-item{
	margin-bottom: -2px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	border-top-color: #e36209;
	border-top-width: 2px;
}


#objectives .card label{
	margin-top: 0px;
	margin-bottom: 0px;
}

#objectives .card .card-header{
	background-color: #f1f8ff;
	border-bottom-color: #c8e1ff;
}

#objectives .card{
	border: 1px solid #c8e1ff;
}

.slider.slider-horizontal{
	width: 100px;
}

.slider-on-tab{
	margin-top: -40px;	
}


#modal-console textarea{
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
}

#modal-feedback .modal-body{
	
}



