<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout-simple :: layout (~{::body},'vets')}">
	<body>
		<div class="offset-md-4 col-md-4 offset-md-4">
	        <div class="card card-body">
	            <h4 class="center" th:text="#{nav.signup}">Sign Up</h4>
                <p class="center" th:text="#{nav.get-started-with-your-free-account}"></p>
                <hr class="mt-0"/>
                <form th:action="@{/signup/save}" method="post" th:object="${signupDTO}">
                    <div class="form-group">
                        <label for="email" th:text="#{user.e-mail}">E-mail</label> 
                        <input type="email" class="form-control" th:field="*{email}" autofocus />
                        <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>
                    <div class="form-group">
                        <label for="password" th:text="#{user.password}">Password</label> 
                        <input type="password" class="form-control" th:field="*{password}"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mb-3 mt-4" th:text="#{btn.signup}"></button>
                    <small class="text-muted">By continuing, you agree to our User Agreement and Privacy Policy.</small>
                    <p class="center mt-3 mb-0 pb-0"><a  th:href="@{/login}" th:text="#{nav.already-have-an-account}"></a></p>
                </form>
	        </div>
         </div>
	</body>
</html>