<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	
	<head th:replace="fragments/head :: title(#{nav.settings})"></head>
	
	<body>
	
		<div th:replace="fragments/navbar :: default('')"></div>
	    
	    <div class="page-header">
	        <div class="container-fluid">
	            <div class="row">
	                <div class="col-12 path">
	                    <h6 class="title">
	                        <a th:href="@{/}">Settings</a> 
	                        <span class="path-divider">&nbsp;</span>
	                    </h6>
	                </div>
	            </div>
	        </div>
	    </div>
    
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <form method="POST" th:action="@{/settings/save}" th:object="${settingsDTO}">
                        <div class="form-group">
                            <label for="name">Name</label> 
                            <input type="text" class="form-control" th:field="*{name}" autofocus/> 
                            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                        </div>
                        <div class="form-group">
                            <label for="decimalPlaces" th:text="#{user.decimal-places}"></label>
                            <input type="number" class="form-control" th:field="*{decimalPlaces}" /> 
                            <small class="form-text text-muted" th:text="#{help.user.decimal-places}"></small>
                            <span class="text-danger" th:if="${#fields.hasErrors('decimalPlaces')}" th:errors="*{decimalPlaces}"></span>
                        </div>
                        <div class="form-group">
                            <label for="decimalSeparator" th:text="#{user.decimal-separator}"></label>
                            <select class="form-control" th:field="*{decimalSeparator}">
                                <option value="COMMA" th:text="#{decimal-separator.comma}"></option>
                                <option value="POINT" th:text="#{decimal-separator.point}"></option>
                            </select> 
                            <small class="form-text text-muted" th:text="#{help.user.decimal-separator}"></small> 
                            <span class="text-danger" th:if="${#fields.hasErrors('decimalSeparator')}" th:errors="*{decimalSeparator}"></span>
                        </div>
                        <div class="form-group">
                            <label for="language" th:text="#{user.language}"></label> 
                            <select class="form-control" th:field="*{language}">
                                <option value="en_US" th:text="#{locale.en-us}"></option>
                                <option value="pt_BR" th:text="#{locale.pt-br}"></option>
                            </select> 
                            <small class="form-text text-muted" th:text="#{help.user.language}"></small>
                            <span class="text-danger" th:if="${#fields.hasErrors('language')}" th:errors="*{language}"></span>
                        </div>
                        <div class="form-group">
                            <label for="timeZone" th:text="#{user.time-zone}"></label> 
                            <select class="form-control" th:field="*{timeZone}">
                                <option th:each="timeZone : ${availableTimeZones}" 
                                        th:value="${timeZone}" 
                                        th:text="${timeZone}"/>
                            </select> 
                            <small class="form-text text-muted" th:text="#{help.user.time-zone}"></small>
                            <span class="text-danger" th:if="${#fields.hasErrors('timeZone')}" th:errors="*{timeZone}"></span>
                        </div>
                        <hr/>
                        <button type="submit" class="btn btn-success" th:text="#{btn.save}"></button>
                        <a th:href="@{/home}" class="btn btn-light">Cancel</a>
                     </form>
                </div>
            </div>
             
        </div>
        
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>