<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head></head>
	<body>
	
		<div th:fragment="default(active)" class="list-group">
		  
		  <a class="list-group-item light-gray" th:text="#{nav.admin}"></a>
      
		  <a th:href="@{/admin/users}" class="list-group-item list-group-item-action" th:classappend="${active == 'users'} ? active  : ''">
		    <p class="mb-0" th:classappend="${active == 'users'} ? '' : text-primary" th:text="#{nav.users}"></p>
		   
		  </a>
		  <a th:href="@{/admin/roles}" class="list-group-item list-group-item-action" th:classappend="${active == 'roles'} ? active : ''">
		    <p class="mb-0" th:classappend="${active == 'roles'} ? '' : text-primary" th:text="#{nav.roles}" ></p>
		  </a>
		  
		</div>
	
	</body>
</html>