<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head></head>
	<body>
	
		<div th:fragment="default(active)" class="list-group">
		  
		  <a class="list-group-item light-gray" th:text="#{nav.settings}"></a>
      
		  <a th:href="@{/settings/profile}" class="list-group-item list-group-item-action" th:classappend="${active == 'profile'} ? active  : ''">
		    <p class="mb-0" th:classappend="${active == 'profile'} ? '' : text-primary" th:text="#{nav.profile}"></p>
		   
		  </a>
		  <a th:href="@{/settings/display}" class="list-group-item list-group-item-action" th:classappend="${active == 'display'} ? active : ''">
		    <p class="mb-0" th:classappend="${active == 'display'} ? '' : text-primary" th:text="#{nav.display}"></p>
		  </a>
		  
		</div>
	
	</body>
</html>