<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head></head>

<body>

  <nav th:fragment="default(active)" class="navbar navbar-dark bg-dark">
  	<div class="container">
	    <a class="navbar-brand" th:href="@{/}">Nautilus</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
	      aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      
		</div>
    </div>
  </nav>

</body>

</html>