<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head></head>
	<body>
		<div th:fragment="default(active)" class="navbar-container">
			<nav  class="navbar navbar-dark bg-dark">
				<div class="container">
					<a class="navbar-brand" th:href="@{/}">Nautilus</a>
				</div>
			</nav>
			<div th:replace="fragments/flash-message :: flash-message"></div>
		</div>
	</body>
</html>