<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head></head>
	<body>
	
		<div class="modal fade" id="modal-upload-reference-point" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form method="POST" th:action="@{/upload/instance/}">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel"  th:text="#{nav.upload-reference-point}"></h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							
							     <div class="input-group mb-2" th:each="objective,i : ${problem.getObjectives()}">
								  <div class="input-group-prepend" style="width: 80%" >
								  
								    
								    <span class="input-group-text" style="width: 100%">
								        <input type="checkbox" class="rp-objective" th:data:target-id="|rp-${objective.id}|"> 
								        <span class="ml-3" th:text="${objective.name}" ></span>
								    </span>
								  </div>
								  <input type="number" class="form-control" th:id="|rp-${objective.id}|" required step="0.1" value="1.0" autocomplete='off' >
								</div>
															
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary" th:text="#{btn.add}"></button>
							<button type="button" class="btn btn-light" data-dismiss="modal" th:text="#{btn.cancel}"></button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</body>

</html>